<div class="profil-form">
  <div class="photo">
    <ion-fab-button *ngIf="!profil.profilePicture" (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    <ion-img *ngIf="profil.profilePicture" [src]="profil.profilePicture" (click)="takePhoto()"></ion-img>
  </div>

  <section class="fr-accordion">
    <h3 class="fr-accordion__title">
      <button class="fr-accordion__btn"
              aria-controls="accordion-1"
              [attr.aria-expanded]="expandEnt"
              (click)="expandEnt = !expandEnt"
      >Entreprise</button>
    </h3>
    <div [ngClass]="{'fr-collapse': !expandEnt,'fr-collapse--expanded': expandEnt}" id="accordion-1">
      <!-- données de test -->
      <ng-container *ngIf="profil.entities">
        <ng-container *ngFor="let item of profil.entities">
          <div class="exp-item fr-callout" >
            <div class="exp-item-labels">
              <div class="label">{{item.name}}</div>
              <div class="url">{{item.siret}}</div>
              <div class="description">{{item.address}} {{item.addressBis}} {{item.codePostal}} {{item.city}}</div>
            </div>
            <div class="exp-item-icons">
            </div>
          </div>
        </ng-container>
      </ng-container>


      <ion-item class="add-item" lines="none">
        <span>Ajouter une entreprise</span>
        <ion-button size="small" (click)="openEntityForm=true"><i class="fas fa-plus"></i></ion-button>
      </ion-item>

      <div class="add-entity-form" *ngIf="openEntityForm">
        <app-form #appForm [fields]="formConfig"
                  submitLabel="Ajouter"
                  (submitForm)="addSiret($event)"
                  cancelLabel="Annuler" (cancelForm)="openEntityForm=false"
        ></app-form>
      </div>
    </div>
  </section>
  <section class="fr-accordion">
    <h3 class="fr-accordion__title">
      <button class="fr-accordion__btn"
              [attr.aria-expanded]="expandExp"
              aria-controls="accordion-2"
              (click)="expandExp = !expandExp"
      >Expérience</button>
    </h3>
    <div [ngClass]="{'fr-collapse': !expandExp,'fr-collapse--expanded': expandExp}" id="accordion-2">
      <!-- données de test -->
      <ng-container *ngIf="profil.experiences">
        <ng-container *ngFor="let item of profil.experiences">
          <div class="exp-item fr-callout" >
            <div class="exp-item-labels">
              <div class="label">{{item.name}}</div>
              <div class="dates">{{item.startDate | date:'MM/YYYY'}} {{item.endDate | date:'MM/YYYY'}}</div>
              <div class="url">{{item.url}}</div>
              <div class="description" [innerHTML]="item.description"></div>
            </div>
            <div class="exp-item-icons">
              <ion-button size="small" fill="clear" (click)="updateItem('experience', item)"><i class="fas fa-pencil-alt"></i></ion-button><br/>
              <ion-button size="small" fill="clear" (click)="deleteItem('experience', item)"><i class="fas fa-trash"></i></ion-button>
            </div>
          </div>
        </ng-container>
      </ng-container>


      <ion-item class="add-item" lines="none">
        <span>Ajouter une expérience</span>
        <ion-button size="small" (click)="addItem('experience')"><i class="fas fa-plus"></i></ion-button>
      </ion-item>
    </div>
  </section>
  <section class="fr-accordion">
    <h3 class="fr-accordion__title">
      <button class="fr-accordion__btn"
              [attr.aria-expanded]="expandForm"
              aria-controls="accordion-formation"
              (click)="expandForm = !expandForm"
      >Formation</button>
    </h3>
    <div [ngClass]="{'fr-collapse': !expandForm,'fr-collapse--expanded': expandForm}" id="accordion-formation">
      <!-- données de test -->
      <ng-container *ngIf="profil.training">
        <ng-container *ngFor="let item of profil.training">
          <div class="exp-item fr-callout" >
            <div class="exp-item-labels">
              <div class="label">{{item.name}}</div>
              <div class="dates">{{item.startDate | date:'MM/YYYY'}} {{item.endDate | date:'MM/YYYY'}}</div>
              <div class="url">{{item.url}}</div>
              <div class="description" [innerHTML]="item.description"></div>
            </div>
            <div class="exp-item-icons">
              <ion-button size="small" fill="clear" (click)="updateItem('experience', item)"><i class="fas fa-pencil-alt"></i></ion-button><br/>
              <ion-button size="small" fill="clear" (click)="deleteItem('experience', item)"><i class="fas fa-trash"></i></ion-button>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ion-item class="add-item" lines="none">
        <span>Ajouter une formation</span>
        <ion-button size="small" (click)="addItem('training')"><i class="fas fa-plus"></i></ion-button>
      </ion-item>
    </div>
  </section>
  <section class="fr-accordion">
    <h3 class="fr-accordion__title">
      <button class="fr-accordion__btn"
              [attr.aria-expanded]="expandNet"
              aria-controls="accordion-network"
              (click)="expandNet = !expandNet"
      >Réseaux</button>
    </h3>
    <div [ngClass]="{'fr-collapse': !expandNet,'fr-collapse--expanded': expandNet}" id="accordion-network">
      <!-- données de test -->
      <ion-list>
        <ion-item>
          <span slot="start"><i class="fab fa-facebook-square fa-2x"></i></span>
          <ion-input placeholder="Facebook" [(ngModel)]="profil.networks.facebook"></ion-input>
        </ion-item>
        <ion-item>
          <span slot="start"><i class="fab fa-twitter-square fa-2x"></i></span>
          <ion-input placeholder="Twitter" [(ngModel)]="profil.networks.twitter"></ion-input>
        </ion-item>
        <ion-item>
          <span slot="start"><i class="fab fa-linkedin fa-2x"></i></span>
          <ion-input placeholder="LinkedIn" [(ngModel)]="profil.networks.linkedin"></ion-input>
        </ion-item>
        <ion-item>
          <span slot="start"><i class="fab fa-instagram-square fa-2x"></i></span>
          <ion-input placeholder="Instagram" [(ngModel)]="profil.networks.instagram"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </section>

</div>
<div class="profil-button">
  <ion-button size="full" (click)="save()">Sauvegarder</ion-button>
</div>
