:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

ion-img {
  height: 75px;
}

.fr-accordion__title {
  padding: 0 10px;
}

.exp-item {
  display: flex;
  flex-direction: row;

  .exp-item-labels {
    flex: 1;
  }

  .exp-item-icons {
    display: flex;
  }
}

.profil-form {
  flex: 1;
  padding: 0 20px;

  .photo {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    ion-img {
      clip-path: circle();
      width: 100px;
    }
  }

  .add-item {
    display: flex;
    flex-direction: row;

    span {
      flex: 1;
    }
  }

}

.profil-button {
  margin: 10px 0;
}

ion-item {

  .label {
    font-weight: 500;
  }

  .dates {
    font-size: 0.9em;
  }

  .url {
    font-size: 0.9em;
  }

  .description {
    color: grey;
    font-size: 0.8em;
  }
}

@media (min-width: 48em) {
  .fr-accordion__title {
    padding: 0 1rem !important;
  }

  .fr-accordion .fr-accordion__btn {
    padding: 0.75rem 0 !important;
  }
}

.add-entity-form {
  border: 1px solid grey;
  padding: 20px;
}
