<form class="form" [formGroup]="form" (submit)="handleSubmit()" *ngIf="fields">

  <h4 matDialogTitle >Personnalisez votre demande de contact</h4>
  <mat-dialog-content>
    <div class="form-content" >
      <ng-container *ngFor="let field of fields" appForm [field]="field" [group]="form"> </ng-container>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="flex-right">
    <button class="fr-btn submit-button" type="submit" [disabled]="!form.valid" >{{submitLabel}}</button>
    <button class="fr-btn fr-btn--secondary cancel-button" type="reset" *ngIf="cancelLabel" (click)="handleCancel()" >
      {{cancelLabel}}
    </button>
  </mat-dialog-actions>
</form>