
.theme-title {
  padding: 20px 20px;
  font-weight: bold;
  font-size: 16px;

  ion-icon {
    padding-right: 15px;
  }
}

.theme-subtitle {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 12px;

  .numbers {
    flex: 1;

    i {
      padding-right: 10px;
    }
  }

  .followers {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;

    .button-no-contact {
      color: var(--text-inverted-grey);
      background-color: var(--background-action-high-warning-hover);
    }
  }
}

.noquestion {
  text-align: center;
}

.filters {
  padding-left: 20px;
  padding-bottom: 20px;
}
