<div class="theme-title">
  <i [ngClass]="[thematique.icon || 'fas fa-image', 'thematic-icon']"></i> {{thematique.label}}
</div>
<div class="fr-highlight theme-subtitle">
  <div class="numbers">
    <div class="theme-subtitle-item">
      <i class="icon-user-account" slot="start"></i>
      <ion-label>{{likeCount}} Membres</ion-label>
    </div>
    <div class="theme-subtitle-item">
      <i class="icon-questions" slot="start"></i>
      <ion-label>{{thematique.questionCount}} Questions</ion-label>
    </div>
  </div>
  <div class="followers">
    <button class=" fr-btn fr-btn--sm button-contact" *ngIf="!liked" (click)="saveLikeThematic()">Suivre</button>
    <button class=" fr-btn fr-btn--sm button-contact button-no-contact" *ngIf="liked" (click)="saveLikeThematic()">Ne plus suivre</button>
  </div>
</div>
<div class="filters">
  <fieldset class="fr-fieldset fr-fieldset--inline">
    <div class="fr-fieldset__content">
      <div class="fr-checkbox-group">
        <input type="checkbox" id="check_urgent" [formControl]="urgentControl">
        <label class="fr-label" for="check_urgent">Voir uniquement les urgents</label>
      </div>
      <div class="fr-checkbox-group">
        <input type="checkbox" id="check_faq" [formControl]="faqControl">
        <label class="fr-label" for="check_faq">Cacher les FAQ</label>
      </div>
    </div>
  </fieldset>
</div>


<app-question-list *ngIf="questionCount>0"
                   class="colored-question-list"
                   [questionList]="questionList"
                   mode="full"></app-question-list>
<div class="noquestion" *ngIf="questionCount == 0">Aucune question</div>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"
                     *ngIf="questionList && questionList.length < questionCount">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Chargement...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
