:host(.left) {
  .page-title {
    .app-title {
      text-align: left;
    }
  }
}


.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 10px;

  .app-title {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}
