<div class="login-zone">

  <div class="login-header">
    <div class="connexion">
      <i class="fas fa-sign-in-alt"></i>
      Connexion
    </div>
    <div class="inscription">
      <a class="fr-link" routerLink="/utilisateur/creer-profil">
        <i class="fas fa-user-plus"></i>
        Inscription
      </a>
    </div>
  </div>

  <div class="login-form">
    <div class="title">Connexion</div>
    <div>Vous devez être inscrit et connecté pour poser votre question</div>
    <app-form [fields]="formConfig" cancelLabel="Mot de passe oublié"
              (changeForm)="onChange($event)"
              (cancelForm)="cancel($event)"
              (submitForm)="login($event)"
    ></app-form>
    <div class="login-error" *ngIf="(error$ | async) as error">
    <span *ngIf="error == 'Le compte n\'a pas encore été validé'">
      Le compte n'a pas encore été validé.
      <a class="fr-link fr-link--sm" (click)="sendMail()">
        Renvoyer un mail
      </a>
    </span>
      <span *ngIf="error != 'Le compte n\'a pas encore été validé'">{{error}}</span>
    </div>
  </div>


  <!--
  <div class="links">
    <a class="fr-link" (click)="dismissModal()"
       routerLink="/utilisateur/mot-de-passe-oublie"
       [queryParams]="{email: values?.username || null}" >Mot de passe oublié</a>

  </div>

  <div class="inscription">
    <div class="title">Ou</div>
    <div>
      <a class="fr-btn" (click)="dismissModal()"
         routerLink="/utilisateur/creer-profil" >M'inscrire</a>
    </div>
  </div>
  -->

</div>
