:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.login-zone {
  width: 50%;
  min-width: 340px;

  .login-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 20px;

    .connexion, .inscription {
      display: flex;
      flex: 1;
    }

    .connexion, .inscription .fr-link {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      text-decoration: none;
    }

    .inscription {
      [href] {
        background-image: none !important;
      }
    }

    .connexion {
      color: var(--bf500);
      border-bottom: 2px solid var(--bf500);
      margin-bottom: -1px;
    }
  }

  .login-form {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 4px;

    .title {
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-weight: bold;
    }
  }


  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .login-error {
    margin-left: 10px;
    text-align: center;
    color: red;
    font-size: 1em;
  }

  .inscription {
    margin: auto;
    width: auto;
    text-align: center;

    .fr-btn {
      width: auto;
    }
  }
}

::ng-deep .login-zone .fr-btn {
  width: 45%;
  text-align: center;
}

::ng-deep .login-zone .form-buttons .fr-btn--secondary {
  box-shadow: none;
}
