ion-tabs {
  margin-top: 120px;
  height: auto;

  ion-tab-bar {
    justify-content: flex-start;
    overflow: auto;

    ion-tab-button {
      i {
        font-size: 20px;
      }

      ion-label {
        white-space: nowrap;
      }
    }
  }
}
