<ion-tabs>
  <ion-tab-bar slot="top" mode="md">

    <ion-tab-button tab="expertises">
      <i class="fas fa-bookmark"></i>
      <ion-label>Expertise</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contributions">
      <i class="fas fa-question-circle"></i>
      <ion-label>{{profil && currentUser && profil.id == currentUser.id ? 'Mes':''}} Contributions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contributeurs" *ngIf="profil && currentUser && profil.id == currentUser.id">
      <i class="fas fa-users"></i>
      <ion-label>Contributeurs suivis</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
