<ion-footer class="footer-menu">
  <ion-button fill="clear" mode="ios" routerLink="/" >
    <div class="footer-menu-item">
      <i class="fas fa-home"></i>
      <label>Accueil</label>
    </div>
  </ion-button>
  <!--
  <ion-button fill="clear" mode="ios" routerLink="/questions/liste-des-thematiques" >
    <div class="footer-menu-item">
      <i class="icon-questions"></i>
      <label>Thématiques</label>
    </div>
  </ion-button>
  -->
  <ion-button fill="clear" mode="ios" routerLink="/utilisateur/liste-contributeurs">
    <div class="footer-menu-item">
      <i class="icon-user-account"></i>
      <label>Contributeurs</label>
    </div>
  </ion-button>
  <ion-button fill="clear" mode="ios" routerLink="/questions/rechercher" >
    <div class="footer-menu-item">
      <i class="fas fa-search"></i>
      <label>Rechercher</label>
    </div>
  </ion-button>
  <ion-button fill="clear" mode="ios" [matMenuTriggerFor]="adminMenu" *ngIf="isAdmin" >
    <div class="footer-menu-item">
      <i class="fas fa-cogs"></i>
      <label>
        Admin
        <span class="fr-badge fr-badge--error fr-badge--no-icon fr-badge--sm" *ngIf="nbModerations>0">{{nbModerations}}</span>
      </label>
    </div>
  </ion-button>

  <mat-menu class="header-mat-menu" #adminMenu="matMenu">
    <button mat-menu-item routerLink="/questions/moderate-questions">
      <span>Modération</span>
    </button>
    <button mat-menu-item routerLink="/questions/import-thematique">
      <span>Liste des thématiques</span>
    </button>
    <button mat-menu-item routerLink="/questions/import-question">
      <span>Importer des questions</span>
    </button>
    <button mat-menu-item routerLink="/administration/html-pages">
      <span>Contenu HTML</span>
    </button>
  </mat-menu>
</ion-footer>
