
.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  border-top: 0.55px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.2))));

  ion-button {
    --padding-start: 0;
    --padding-end: 0;

    .footer-menu-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      label {
        padding: 5px 10px;
        font-size: 11px;
      }
    }
  }

}
