<div class="editor">
  <app-field-editor [group]="form" [field]="field"></app-field-editor>
  <div class="buttons">
    <button class="fr-btn fr-btn--sm" [disabled]="!form.valid" (click)="save()">{{submitLabel}}</button>
  </div>
</div>
