<ion-list *ngIf="answerList && answerList.length > 0">
  <app-answer-list-item *ngFor="let answer of answerList; let odd = odd; let index = index"
                          [answer]="answer" [index]="index"
  ></app-answer-list-item>
</ion-list>
