:host {
  display: flex;
  max-width: 78em;
  margin: auto;
}

.user-infos {
  padding: 20px;

  .label {
    font-weight: bold;
  }

  .fr-callout {
    margin-bottom: 20px;
    padding: 1rem 1.5rem;
  }
}
