:host {
  display: flex;
  padding: 20px;
  max-width: 78em;
  margin: auto;
}

.file-input {
  display: none;
}

.import-file {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  .file-upload {
    flex: 1;
  }
}

.success {
  margin-bottom: 20px;
}