<app-header></app-header>
<ion-content>
  <app-page-title title="Importer des questions"></app-page-title>

  <h2>Import par fichier</h2>
  <input type="file" class="file-input"
         [accept]="requiredFileType"
         (change)="onFileSelected($event)" #fileUpload>
  <div class="import-file">
    <div class="file-upload">
      {{fileName || "Aucun fichier sélectionné"}}

      <button mat-mini-fab color="primary" class="upload-btn"
              (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>

    <button class="fr-btn fr-btn--tertiary" (click)="getImportFile()">Télécharger le fichier</button>
  </div>
  <div class="fr-table" *ngIf="errors">
    <table>
      <caption>Liste des erreurs</caption>
      <thead>
      <tr>
        <th>Ligne</th>
        <th>Erreur</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of errors">
        <td>{{item.ligne}}</td>
        <td>{{item.message}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="success" *ngIf="success">Import réalisé avec succès</div>

  <h2>Import par json</h2>
  <div class="import-form">
    <div class="fr-input-group">
      <label class="fr-label" for="textarea">
        Copier le json contenant la liste de questions à importer ci-dessous
      </label>
      <textarea class="fr-input" id="textarea" rows="20" [(ngModel)]="text"></textarea>
    </div>
    <button class="fr-btn" (click)="save()" [disabled]="!text || text == initialText">Importer</button>
  </div>


  <app-footer></app-footer>
</ion-content>
<app-footer-menu></app-footer-menu>
