<app-header></app-header>
<ion-content>
    <app-page-title title="Paramètre du compte"></app-page-title>

    <div class="container">
        <div data-view-component="true" class="subhead">
            <h2 data-view-component="true" class="subhead-title">Etre contacté</h2>
        </div>
        <div class="contact">
            J’accepte d’être contacté.e par un utilisateur pour échanger en dehors de la plateforme
            <ion-toggle mode="md" color="primary" [ngModel]="(this.profil$ | async)?.allowContact"
                        (ngModelChange)="changeContact()"></ion-toggle>
        </div>

        <div data-view-component="true" class="subhead">
            <h2 data-view-component="true" class="subhead-title">Paramétrage des notifications</h2>
        </div>
        <div>
            <app-parametrage-notifications></app-parametrage-notifications>
        </div>


        <div data-view-component="true" class="subhead">
            <h2 data-view-component="true" class="subhead-title">Supprimer mon compte</h2>
        </div>
        <p>Une fois votre compte supprimé, il n'y a pas de retour arrière. Vos questions et réponses ne seront pas
            supprimées mais elles seront anonymisées.</p>
        <div>
            <button class="fr-btn" (click)="deleteAccount()">Supprimer mon compte</button>
        </div>
    </div>
    <app-footer></app-footer>

</ion-content>
<app-footer-menu></app-footer-menu>
