:host {
  display: flex;
  max-width: 78em;
  margin: auto;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 40px;

  .subhead {
    border-bottom: 1px solid grey;
    margin-bottom: 20px;

    .subhead-title {

    }
  }

  .contact {
    display: flex;
    align-items: center;
  }
}
