
<div class="segment">
  <ion-segment (ionChange)="segmentChanged($event)"
               color="primary" value="question" mode="ios">
    <ion-segment-button value="question">
      <ion-label>Questions</ion-label>
    </ion-segment-button>
    <ion-segment-button value="response">
      <ion-label>Réponses</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>

<div class="list" *ngIf="tab === 'question'">
  <app-question-list [questionList]="askedQuestions$ | async"
                     mode="full" showAnonyme="true"
                     emptyMessage="Vous n'avez posé aucune question pour le moment."
  ></app-question-list>
</div>
<div class="list" *ngIf="tab === 'response'">
  <app-question-list [questionList]="answeredQuestions$ | async"
                     mode="full" showAnonyme="true"
                     emptyMessage="Vous n'avez répondu à aucune question pour le moment."
  ></app-question-list>
</div>
<app-footer></app-footer>
