<app-header></app-header>
<ion-content>
  <app-page-title title="Les thématiques"></app-page-title>
  <app-theme-list [themeList]="themeList$ | async"></app-theme-list>
  <app-footer></app-footer>
</ion-content>
<app-footer-menu></app-footer-menu>
