<ion-header class="header-grey" >
  <ion-toolbar mode="md">
    <ion-title>Sélectionner la thématique</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-radio-group value="biff" [formControl]="formControl">
      <ion-list-header>
        <ion-label>Thématique trouvée</ion-label>
      </ion-list-header>

      <ng-container *ngIf="thematicList.length > 0">
        <ion-item *ngFor="let thematic of thematicList">
          <ion-label>{{thematic.label}}</ion-label>
          <ion-radio slot="end" [value]="thematic.id"></ion-radio>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="thematicList.length == 0">
        <div class="message-info">Nous n'avons pas pu rapprocher votre question à une thématique</div>
      </ng-container>

      <ion-list-header>
        <ion-label>Autres Thématiques</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let thematic of otherThematicList">
        <ion-label>{{thematic.label}}</ion-label>
        <ion-radio slot="end" [value]="thematic.id"></ion-radio>
      </ion-item>

      <ion-list-header>
        <ion-label></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Je ne sais pas choisir</ion-label>
        <ion-radio slot="end" value="NONE"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <div class="zone-btn">
    <div class="flex1"></div>
    <button class="fr-btn" (click)="save()" [disabled]="!formControl.value">Valider</button>
  </div>

</ion-content>
