.message-info {
  padding: 10px 20px;
  font-size: 1em;
  text-align: center;
}

.zone-btn {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
}

.header-grey {
  background-color: var(--background-contrast-grey) !important;
}