<app-header></app-header>


<ion-content>
  <app-page-title title="Réinitialiser mon mot de passe"></app-page-title>

  <div class="content" *ngIf="errorCode=='EXPIRE' || errorCode=='NOT_FOUND'">
    <p>Le lien a expiré ou est erroné, renseignez votre adresse mail et cliquez sur le bouton ci-dessous pour renvoyer un mail</p>

    <app-form [fields]="emailFormConfig"
              (submitForm)="send($event)"
              submitLabel="Renvoyer un mail"
    ></app-form>

    <p *ngIf="sendMailOk">
      Si vous possédez un compte chez nous, un nouvel email vous a été envoyé.
    </p>
  </div>

  <div class="content" *ngIf="isOk && !resetOk">
    <p>Vous avez demandé une réinitialisation de votre mot de passe, veuillez remplir les deux champs ci-dessous
      pour compléter votre demande</p>

    <app-form [fields]="resetFormConfig"
              (submitForm)="resetPassword($event)"
              submitLabel="Réinitialiser mon mot de passe"
    ></app-form>
  </div>

  <div class="content" *ngIf="resetOk">
    <h2>Votre mot de passe a bien été réinitialisé</h2>
    <p>Vous pouvez maintenant vous connecter à l'application Entraide Entreprises</p>

    <button class="fr-btn" routerLink="/login">Se connecter</button>
  </div>

  <app-footer></app-footer>
</ion-content>

<!--
<ion-content class="ion-padding">
  <app-page-title title="Réinitialiser mon mot de passe"></app-page-title>

  <ng-container *ngIf="!successfullyReset">
    <ng-container *ngIf="!isRequestValid">
      <ion-text color="danger">
        <p>La demande de réinitialisation de mot de passe n'est pas valide.</p>
      </ion-text>
      <ion-button class="login-button" (click)="navigateHome()" color="primary" shape="round">Retourner à
        l'accueil</ion-button>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="successfullyReset">
    <h2>Votre mot de passe a bien été réinitialisé</h2>
    <p>Vous pouvez maintenant vous connecter à l'application Entraide Entreprises</p>
    <ion-button (click)="openLoginForm()">Me connecter</ion-button>
  </ng-container>
</ion-content>
-->
