<div class="user-experience">

  <div class="label">Métier</div>
  <div class="fr-callout">{{profil?.job}}</div>

  <div class="label">Entreprises</div>
  <ng-container *ngFor="let entity of profil?.entities">
    <div class="fr-callout">
      <div>{{entity.name}}</div>
      <div>{{entity.address}}</div>
      <div>{{entity.addressBis}}</div>
      <div>{{entity.codePostal}} {{entity.city}}</div>
      <div>{{entity.siret}}</div>
    </div>
  </ng-container>

  <ng-container *ngIf="profil && profil.experiences && profil.experiences.length>0">
    <div class="label">Expériences</div>
    <div class="fr-callout" *ngFor="let item of profil?.experiences">
      <div class="label">{{item.name}}</div>
      <div class="dates">{{item.startDate | date:'MM/YYYY'}} {{item.endDate | date:'MM/YYYY'}}</div>
      <div class="url">{{item.url}}</div>
      <div class="description" [innerHTML]="item.description"></div>
    </div>
  </ng-container>

  <ng-container *ngIf="profil && profil.training && profil.training.length>0">
    <div class="label">Formations</div>
    <div class="fr-callout" *ngFor="let item of profil?.training">
      <div class="label">{{item.name}}</div>
      <div class="dates">{{item.startDate | date:'MM/YYYY'}} {{item.endDate | date:'MM/YYYY'}}</div>
      <div class="url">{{item.url}}</div>
      <div class="description" [innerHTML]="item.description"></div>
    </div>
  </ng-container>

  <ng-container *ngIf="profil && profil.networks && (profil.networks.facebook
  || profil.networks.twitter || profil.networks.linkedin || profil.networks.instagram)">
  <div class="label">Réseaux</div>
  <div class="fr-callout networks">
    <div *ngIf="profil?.networks?.facebook">
      <a [href]="profil.networks.facebook"><i class="fab fa-facebook-square fa-2x"></i></a>
    </div>
    <div *ngIf="profil?.networks?.twitter">
      <a [href]="profil.networks.twitter"><i class="fab fa-twitter-square fa-2x"></i></a>
    </div>
    <div *ngIf="profil?.networks?.linkedin">
      <a [href]="profil.networks.linkedin"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
    <div *ngIf="profil?.networks?.instagram">
      <a [href]="profil.networks.instagram"><i class="fab fa-instagram-square fa-2x"></i></a>
    </div>
  </div>
  </ng-container>

</div>
