.user-experience {
  padding: 20px;

  .label {
    font-weight: bold;
  }

  .fr-callout {
    margin-bottom: 20px;
    padding: 1rem 1.5rem;
  }
}

ion-list {
  margin: 10px 0;
  padding: 0 10px 10px 0;

  ion-list-header {
    font-size: 1.1em;
    min-height: 30px;
    align-items: center;
    font-weight: 500;
  }

  ion-item {
    margin-top: 10px;
    --background: none;

    .label {
      font-weight: 500;
    }

    .dates {
      font-size: 0.9em;
    }

    .url {
      font-size: 0.9em;
    }

    .description {
      color: grey;
      font-size: 0.8em;
    }
  }
}

.networks-title {
  font-size: 1.1em;
  padding-left: 16px;
  padding-bottom: 10px;
  font-weight: 500;
}

.networks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
