
<div class="thematic">
  <i [ngClass]="[question.thematic.icon || 'fas fa-image', 'thematic-icon']"></i>
  {{question.thematic.label}}
</div>
<div class="button-moderation" *ngIf="isAdmin && !question.valid">
  <button class="fr-btn fr-btn--sm btn-supprimer" (click)="moderate()">Supprimer</button>
  <button class="fr-btn fr-btn--sm btn-valider" (click)="validate()">Valider</button>
</div>
<div class="button-moderation" *ngIf="!isAdmin && !question.valid">
  <div class="div-urgent">En attente de validation</div>
</div>

<app-question-response-item [item]="question" [user]="user" *ngIf="question"
                            (answerClick)="answerQuestion()"
                            type="question" class="question"></app-question-response-item>

<div class="nb-response">
  <div><i class="icon-questions"></i></div>
  <div class="flex1">
    <div *ngIf="nbReponse==0">Aucune réponse</div>
    <div *ngIf="nbReponse>0">{{nbReponse}} Réponse{{nbReponse > 1 ? 's' : ''}}</div>
  </div>
  <div class="div-urgent" *ngIf="question.isUrgent">Urgent</div>
</div>
<div *ngIf="responseList && responseList.length>0">
  <ng-container *ngFor="let item of responseList; let idx = index">
    <app-question-response-item [item]="item" *ngIf="item && (item.valid || isAdmin
                                          || (item.author && item.author.id === user.id))"
                                [user]="user"
                                [index]="idx"
                                [isQuestionAuthor]="question.author && user && question.author.id == user.id"
                                type="answer" class="answer"
    ></app-question-response-item>
  </ng-container>
</div>