.thematic {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 18px;

  i {
    padding-right: 10px;
  }
}

.div-urgent {
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--background-action-high-error);
  color: var(--text-inverted-grey);
  margin-left: 5px;
}

.nb-response {
  padding: 20px 20px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1em;
  font-weight: bold;

  img {
    height: 30px;
  }

  .div-urgent {
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--error);
    color: var(--text-inverted-grey);
    margin-right: 5px;
  }
}

.fr-callout {
  h4 {
    margin: 0;
  }
}

.button-moderation {
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;

  button {
    margin-right: 5px;

    &.btn-supprimer {
      background-color: #e1000f;
    }

    &.btn-valider {
      background-color: #1f8d49;
    }
  }
}
