<app-header></app-header>
<ion-content>
  <app-page-title title="Notifications"></app-page-title>

  <div class="notif-btn">
    <button class="btn-delete fr-btn fr-btn--sm fr-btn--secondary fr-fi-delete-line fr-btn--icon-left"
            *ngIf="notifications.length > 0"
            (click)="deleteAll()">Tout supprimer</button>
    <div class="flex1"></div>
  </div>
  <div class="notif-nocontent"  *ngIf="notifications.length === 0">
    Aucune notification
  </div>
  <div class="notif-content" *ngIf="notifications.length > 0">
    <div class="notif-item fr-callout fr-fi-information-line" *ngFor="let notif of notifications">
      <h4 class="fr-callout__title">{{notif.createdAt | date: 'dd/MM/yyyy HH:mm'}}</h4>
      <p class="fr-callout__text" [innerHTML]="notif.message"></p>
      <button class="fr-btn fr-btn--sm fr-fi-eye-line fr-btn--icon-left" [routerLink]="['/questions/question', notif.question]">Voir</button>
      <button class="btn-delete fr-btn fr-btn--sm fr-btn--secondary fr-fi-delete-line fr-btn--icon-left" (click)="delete(notif.id)">Supprimer</button>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
<app-footer-menu></app-footer-menu>
