.notif-btn {
  display: flex;
  flex-direction: row;
  padding: 0 20px 20px;
}

.notif-nocontent {
  text-align: center;
}

.notif-content {
  padding: 20px;
  .notif-item {
    margin-bottom: 10px;

    .fr-callout__title, .fr-callout__text {
      margin: 0 !important;
    }

    .btn-delete {
      margin-left: 10px;
    }
  }
}
