<div [formGroup]="group" class="fr-input-group"
     [ngClass]="{'fr-input-group--error':group.get(field.name).touched && !group.get(field.name).valid,
                 'fr-input-group--valid':group.get(field.name).touched && group.get(field.name).valid}" >
  <label class="fr-label" [attr.for]="'text-input-'+field.name">
    {{field.label}} <span class="red" *ngIf="required">*</span>
    <span class="fr-hint-text" *ngIf="field.description">{{field.description}}</span>
  </label>

  <div class="fr-input-wrap">
    <input class="fr-input" type="date" (input)="onInput()"
           [ngClass]="{'fr-input--error':group.get(field.name).touched && !group.get(field.name).valid,
                     'fr-input--valid':group.get(field.name).touched && group.get(field.name).valid}"
           [attr.id]="'text-input-'+field.name"
           [placeholder]="field.placeholder?field.placeholder:''"
           [formControlName]="field.name"
           [required]="required"
           [value]="field.value"
    />

    <input [hidden]="true" [matDatepicker]="picker" [(ngModel)]="date" (ngModelChange)="onChange()" [ngModelOptions]="{standalone: true}"/>
    <ion-button class="button-calendar" fill="clear" size="small" (click)="picker.open()"><i class="fr-fi-calendar-line"></i></ion-button>
    <mat-datepicker #picker [touchUi]="true"
                    [startView]="field.startView?field.startView:'month'"
                    [startAt]="date?date:field.startDate"></mat-datepicker>
  </div>

  <ng-container *ngFor="let validation of field.validations" ngProjectAs="mat-error">
    <p *ngIf="group.get(field.name).touched && group.get(field.name).hasError(validation.name)"
       [attr.id]="'text-input-'+field.name+'-error'" class="fr-error-text">
      {{ validation.message }}
    </p>
  </ng-container>
</div>

