.fr-input-group {
  padding-top: 10px;

  .fr-input-wrap {
    position: relative;
    overflow: hidden;

    .fr-input[type=date] {
      min-height: 0;
    }

    .button-calendar {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
    }

    [class^="fr-fi-"]::before {
      font-size: 1rem;
    }
  }
}
