<div class="fr-tile fr-enlarge-link fr-tile--vertical">
  <div class="numbers">
    <div class="numbers-item">
      <i class="icon-user-account"></i>
      <label>{{theme.followers?theme.followers.length : 0}} Membres</label>
    </div>
    <div class="numbers-item">
      <i class="icon-questions"></i>
      <label>{{theme.questionCount}} Questions</label>
    </div>
  </div>
  <div class="fr-tile__body">
    <h4 class="fr-tile__title">
      <a class="fr-tile__link" [routerLink]="['/questions','theme', theme.id]" >{{theme.label}}</a>
    </h4>
  </div>
  <div class="fr-tile__img">
    <i [ngClass]="[theme.icon || 'fas fa-image', 'thematic-icon']"></i>
  </div>
</div>
