
.thematic-icon {
  font-size: 2rem;
}

.fr-tile {
  margin-bottom: 10px;

  .fr-tile__title {
    height: 30px;

    a {
      line-height: 12px;
    }
  }

  .fr-tile__img {
    height: auto;
  }

  .numbers {
    padding-bottom: 5px;

    .numbers-item {
      padding: 2px 10px;

      i {
        padding-right: 10px;
      }
    }
  }
}
