<h4 matDialogTitle >Confirmation</h4>
<mat-dialog-content [innerHtml]="message">
</mat-dialog-content>
<mat-dialog-actions class="flex-right">
  <button id="confirm-non" mat-raised-button (click)="close(false)">Non</button>
  <button id="confirm-oui" mat-raised-button color="primary" (click)="close(true)">Oui</button>
</mat-dialog-actions>
