<app-header></app-header>

<ion-content class="ion-padding">
  <app-page-title title="Mot de passe oublié"></app-page-title>

  <ng-container *ngIf="!requestHasBeenSent">
    <h2>Veuillez renseigner votre adresse mail pour que nous puissions vous aider à redéfinir un mot de passe</h2>
    <app-form [fields]="formConfig"
              (submitForm)="send($event)"
              submitLabel="Réinitialiser mon mot de passe"
    ></app-form>
  </ng-container>

  <ng-container *ngIf="requestHasBeenSent">
    <h2>Votre demande est prise en compte</h2>
    <p>
      Si vous possédez un compte chez nous, nous venons de vous envoyer un
      email pour réinitialiser votre mot de passe. Le lien expirera dans 10 heures.
    </p>
  </ng-container>
  <app-footer></app-footer>

</ion-content>
