<ion-header translucent>
  <ion-toolbar mode="md">
    <ion-title>{{type=='answer'?'Votre réponse':'Votre commentaire'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal(null)">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <app-response-add-form [message]="message"
                         (answerSave)="dismissModal($event)"
                         [submitLabel]="type=='answer'?'Modifier votre réponse':'Modifier votre commentaire'"
  ></app-response-add-form>
</ion-content>
