
<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <div class="back-button">
        <ion-back-button *ngIf="!isHomePage" defaultHref="/questions" text=""></ion-back-button>
      </div>
      <div class="logo">
        <a routerLink="/" [title]="appVersion"><img src="assets/images/MINFI.png" alt="Logo entraide entreprises"/></a>
      </div>

      <div class="fr-skiplinks">
        <nav class="fr-container" role="navigation" aria-label="Accès rapide">
          <ul class="fr-skiplinks__list">
            <li>
              <a class="fr-link" routerLink="/"><i class="fas fa-home"></i> Accueil</a>
            </li>
            <!--
            <li>
              <a class="fr-link" routerLink="/questions/liste-des-thematiques"><i class="icon-questions"></i> Thématiques</a>
            </li>
            -->
            <li>
              <a class="fr-link" routerLink="/utilisateur/liste-contributeurs"><i class="icon-user-account"></i> Contributeurs</a>
            </li>
            <li>
              <a class="fr-link" routerLink="/questions/rechercher"><i class="fas fa-search"></i> Question</a>
            </li>
            <li *ngIf="isAdmin">
              <span class="fr-link" [matMenuTriggerFor]="adminMenu"><i class="fas fa-cogs"></i> Administration</span>

              <mat-menu class="header-mat-menu" #adminMenu="matMenu">
                <button mat-menu-item routerLink="/questions/moderate-questions">
                  <span>Modération</span>
                </button>
                <button mat-menu-item routerLink="/questions/import-thematique">
                  <span>Liste des thématiques</span>
                </button>
                <button mat-menu-item routerLink="/questions/import-question">
                  <span>Importer des questions</span>
                </button>
                <button mat-menu-item routerLink="/administration/html-pages">
                  <span>Contenu HTML</span>
                </button>
              </mat-menu>
            </li>
          </ul>
        </nav>
      </div>

      <div class="user">
        <div class="user-buttons">
          <button #notifButton class="button-notif fr-btn fr-btn--secondary" *ngIf="isAuthenticated" routerLink="/notifications">
            <i class="far fa-bell" ></i>
            <span class="fr-badge fr-badge--error fr-badge--no-icon fr-badge--sm" *ngIf="nbNotifications>0">{{nbNotifications}}</span>
          </button>
          <button class="fr-btn fr-btn--secondary" [matMenuTriggerFor]="menu" >
            <i *ngIf="!user || !user.profilePicture || user.anonyme" class="fa-user" [ngClass]="{'far': !isAuthenticated, 'fas': isAuthenticated}"></i>
            <ion-img *ngIf="user && user.profilePicture && !user.anonyme" [src]="user.profilePicture" ></ion-img>
          </button>
          <mat-menu class="header-mat-menu" #menu="matMenu">
            <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
              <i class="fas fa-sign-in-alt"></i>
              <span>M'identifier</span>
            </button>
            <button mat-menu-item routerLink="/utilisateur/creer-profil" *ngIf="!isAuthenticated">
              <i class="fas fa-sign-in-alt"></i>
              <span>M'inscrire</span>
            </button>
            <button mat-menu-item routerLink="/utilisateur/mon-profil" *ngIf="isAuthenticated">
              <i class="fas fa-user-circle"></i>
              <span>Mon compte</span>
            </button>
            <button mat-menu-item routerLink="/utilisateur/parametre-compte" *ngIf="isAuthenticated">
              <i class="fas fa-user-circle"></i>
              <span>Paramètres du compte</span>
            </button>
            <button mat-menu-item (click)="logout()" *ngIf="isAuthenticated">
              <i class="fas fa-sign-out-alt"></i>
              <span>Me déconnecter</span>
            </button>
          </mat-menu>
        </div>
        <div class="username">
          <ng-container *ngIf="user && user.anonyme">{{user.username}}</ng-container>
          <ng-container *ngIf="user && !user.anonyme">{{user.firstName}} {{user.lastName}}</ng-container>
        </div>
        <div class="entity"  *ngIf="user && !user.anonyme && user.entities.length>1">
          {{entity?.name}}
          <button [matMenuTriggerFor]="entityMenu" ><i class="fas fa-caret-down"></i></button>
          <mat-menu class="header-mat-menu" #entityMenu="matMenu">
            <button mat-menu-item *ngFor="let entity of user.entities" (click)="changeEntity(entity)">
              <span>{{entity.siret}} - {{entity.name}}</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <a href="/" title="Accueil Entraide entreprises">
                <p class="fr-logo">
                  République
                  <br>Française
                </p>
              </a>
            </div>
            <div class="fr-header__operator">
              <img src="assets/images/MINFI.png" class="fr-responsive-img" style="max-width:9.0625rem;"  alt="Entraide entreprises"/>
            </div>
            <div class="fr-header__navbar">
              <a class="fr-link btn--bell" routerLink="/notifications" title="Notifications" *ngIf="isAuthenticated">
                <i class="far fa-bell" ></i>
                <span class="fr-badge fr-badge--error fr-badge--no-icon fr-badge--sm" *ngIf="nbNotifications>0">{{nbNotifications}}</span>
              </a>

              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-870"
                      aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile-4">
              </button>
            </div>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links" *ngIf="!isAuthenticated">
            <ul class="fr-links-group">
              <li>
                <a class="fr-link fr-fi-lock-line" routerLink="/login">Se connecter</a>
              </li>
              <li>
                <a class="fr-link fr-fi-account-line" routerLink="/utilisateur/creer-profil" >S’enregistrer</a>
              </li>
            </ul>
          </div>
          <div class="fr-header__tools-links" *ngIf="isAuthenticated" >
            <ul class="fr-links-group">
              <li class="li-notification">
                <a class="fr-link fr-fi-lock-line" routerLink="/notifications">
                  <i class="far fa-bell" ></i>
                  <span class="fr-badge fr-badge--error fr-badge--no-icon fr-badge--sm" *ngIf="nbNotifications>0">{{nbNotifications}}</span>
                </a>
              </li>
              <li>
                <button class="fr-link fr-fi-lock-line" [matMenuTriggerFor]="mmenu" >
                  {{user?.firstName}} {{user?.lastName}}
                  <i class="fas fa-caret-down nav_long"></i>
                </button>
                <mat-menu class="header-mat-menu" #mmenu="matMenu">
                  <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>M'identifier</span>
                  </button>
                  <button mat-menu-item routerLink="/utilisateur/creer-profil" *ngIf="!isAuthenticated">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>M'inscrire</span>
                  </button>
                  <button mat-menu-item routerLink="/utilisateur/mon-profil" *ngIf="isAuthenticated">
                    <i class="fas fa-user-circle"></i>
                    <span>Mon compte</span>
                  </button>
                  <button mat-menu-item routerLink="/utilisateur/parametre-compte" *ngIf="isAuthenticated">
                    <i class="fas fa-user-circle"></i>
                    <span>Paramètres du compte</span>
                  </button>
                  <button mat-menu-item (click)="logout()" *ngIf="isAuthenticated">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Me déconnecter</span>
                  </button>
                </mat-menu>
              </li>
            </ul>
          </div>
          <div class="fr-header__search fr-modal" id="modal-866">
            <div class="fr-container fr-container-lg--fluid">
              <div class="entity"  *ngIf="user && !user.anonyme && user.entities.length>1">
                <button [matMenuTriggerFor]="entityMenu" >{{entity?.name}} <i class="fas fa-caret-down"></i></button>
                <mat-menu class="header-mat-menu" #entityMenu="matMenu">
                  <button mat-menu-item *ngFor="let entity of user.entities" (click)="changeEntity(entity)">
                    <span>{{entity.siret}} - {{entity.name}}</span>
                  </button>
                </mat-menu>
              </div>
              <!--
              <button class="fr-link--close fr-link" aria-controls="modal-866">Fermer</button>
              <div class="fr-search-bar" id="search-865" role="search">
                <label class="fr-label" for="search-865-input">Recherche
                </label>
                <input class="fr-input" placeholder="Rechercher" type="search" id="search-865-input" name="search-865-input">
                <button class="fr-btn" title="Rechercher">
                </button>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-header__menu fr-modal" id="modal-870" aria-labelledby="fr-btn-menu-mobile-4">
    <div class="fr-container">
      <button class="fr-link--close fr-link" aria-controls="modal-870">Fermer</button>
      <div class="fr-header__menu-links"></div>
      <nav class="fr-nav" id="navigation-869" role="navigation" aria-label="Menu principal">
        <ul class="fr-nav__list">
          <li class="fr-nav__item nav_long">
            <a class="fr-nav__link" routerLink="/questions" target="_self">Accueil</a>
          </li>
          <li class="fr-nav__item nav_long">
            <a class="fr-nav__link" routerLink="/questions/liste-des-thematiques" target="_self">Thématiques</a>
          </li>
          <li class="fr-nav__item nav_long">
            <a class="fr-nav__link" routerLink="/utilisateur/liste-contributeurs" target="_self">Contributeurs</a>
          </li>
          <li class="fr-nav__item nav_long">
            <a class="fr-nav__link" routerLink="/questions/rechercher" target="_self">Rechercher</a>
          </li>
          <li class="fr-nav__item nav_long" *ngIf="isAdmin">
            <span class="fr-nav__link" [matMenuTriggerFor]="adminMenu">Administration
              <span class="fr-badge fr-badge--error fr-badge--no-icon fr-badge--sm" *ngIf="nbModerations>0">{{nbModerations}}</span>
            </span>

            <mat-menu class="header-mat-menu" #adminMenu="matMenu">
              <button mat-menu-item routerLink="/questions/moderate-questions">
                <span>Modération</span>
              </button>
              <button mat-menu-item routerLink="/questions/import-thematique">
                <span>Liste des thématiques</span>
              </button>
              <button mat-menu-item routerLink="/questions/import-question">
                <span>Importer des questions</span>
              </button>
              <button mat-menu-item routerLink="/administration/html-pages">
                <span>Contenu HTML</span>
              </button>
            </mat-menu>
          </li>
          <li class="fr-nav__item nav_court">
            <a class="fr-nav__link" routerLink="/utilisateur/mon-profil" target="_self" *ngIf="isAuthenticated" >
              <i class="fas fa-user-circle"></i>
              Mon compte
            </a>
          </li>
          <li class="fr-nav__item nav_court">
            <a class="fr-nav__link" routerLink="/utilisateur/parametre-compte" target="_self" *ngIf="isAuthenticated" >
              <i class="fas fa-cogs"></i>
              Paramètres du compte
            </a>
          </li>
          <li class="fr-nav__item nav_court">
            <button mat-raised-button (click)="logout()" *ngIf="isAuthenticated">
              <i class="fas fa-sign-out-alt"></i>
              <span>Me déconnecter</span>
            </button>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</header>
