:host-context(.split-pane-visible) {
  .button-menu {
    display: none;
  }
}

ion-toolbar, ion-header {
  --min-height: 64px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  .back-button {
    width: 50px;
  }

  .logo {
    padding-right: 10px;

    a {
      box-shadow: none;
    }
  }

  .fr-skiplinks {
    background-color: transparent;
    position: relative;
    transform: none;
    flex: 1;

    i {
      padding-right: 10px;
    }
  }

  .user {
    display: flex;
    flex-direction: column;
    padding: 5px;

    .username {
      text-align: right;
      padding-right: 10px;
    }

    .user-buttons {
      display: flex;
      flex-direction: row;

      ion-img {
        clip-path: circle();
        width: 60px;
        height: 30px;
      }

      button {
        font-size: 24px;
        display: flex;
        flex-direction: column;
        padding: 0;
        box-shadow: none;
        margin-right: 10px;

        &.button-notif {
          position: relative;

          .tag-number {
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            height: 10px;
            min-width: 10px;
            width: auto;
            background-color: var(--error);
            color: var(--g100);
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            line-height: 10px;
            font-size: 10px;
            padding: 1px;
          }

        }
      }
    }


  }
}

.header-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  label {
    padding: 5px 10px;
    font-size: 11px;
  }
}


@media screen and (max-width: 62em) {
  .nav_long {
    display: none;
  }
}

@media screen and (min-width: 62em) {
  .nav_court {
    display: none;
  }
}

.fr-header__body > .fr-container {
  width: auto !important;
}

.fr-header__body-row {
  margin: 0 !important;
}

.fr-header__search.fr-modal .fr-container {
  margin-right: 0;
}

.fr-nav__list {
  margin: 0 !important;
}

.fr-nav__list > * > .fr-nav__link {
  min-height: 0;
}

ion-header {
  display: none;
}

button.mat-menu-item {
  width: auto !important;
}

.entity {
  font-size: 0.8em;
}

.fr-link {
  color: var(--bf500);
}

.btn--bell {
  font-size: 16px;
  min-height: 2.5rem;
  padding-right: 0.5rem;
}

.fr-modal {
  .li-notification {
    display: none;
  }
}

.fa-caret-down {
  padding-left: 5px;
}

@media (min-width: 62em) {
  .fr-header .fr-links-group {
    width: auto;
  }
}

.fr-enlarge-link a.btn--bell::before {
  position: relative;
}