<div class="inscription-form">
  <app-form #appForm [fields]="formConfig"
            (submitForm)="save($event)"
  ></app-form>

  <div class="fr-callout" *ngIf="entity">
    <h4>Entreprise</h4>
    <div>{{entity.name}}</div>
    <div>{{entity.address}}</div>
    <div>{{entity.addressBis}}</div>
    <div>{{entity.codePostal}} {{entity.city}}</div>
    <div>{{entity.siret}}</div>
  </div>
</div>
