<app-header></app-header>
<ion-content>
  <app-page-title title="Les contributeurs"></app-page-title>

  <ion-toolbar class="search" >
    <div class="fr-search-bar fr-search-bar--lg" id="header-search" role="search">
      <label class="fr-label" for="search-question">
        Recherche
      </label>
      <input #q class="fr-input" placeholder="Rechercher" type="search" id="search-question" name="search-question" (keyup.enter)="search(q)">
      <button class="fr-btn" title="Rechercher" (click)="search(q)">
        Rechercher
      </button>
    </div>
  </ion-toolbar>

  <app-user-list [userList]="userList"></app-user-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"
                       *ngIf="userList && userList.length < userCount">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Chargement...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <app-footer></app-footer>
</ion-content>
<app-footer-menu></app-footer-menu>
