<app-header></app-header>
<ion-content>
  <app-page-title title="Modifier votre question"></app-page-title>
  <app-question-add-form [question]="question" (questionSave)="save($event)"></app-question-add-form>
  <app-footer></app-footer>
</ion-content>
<app-footer-menu></app-footer-menu>
