<div class="fr-modal__body">
  <div class="fr-modal__header">
    <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-1" (click)="close(false)" >Fermer</button>
  </div>
  <div class="fr-modal__content">
    <h1 id="fr-modal-title-modal-1" class="fr-modal__title"><span class="fr-fi-arrow-right-line fr-fi--lg"></span>{{page?.titre}}</h1>
    <div [innerHtml]="page?.contenu"></div>
  </div>
</div>