.user-list-item {
  margin-bottom: 10px;

  h4, p {
    margin: 0;
  }

  .fr-tile__img {
    width: 5rem;
    height: 5rem;
    margin: 0 auto 0;
    img {
      clip-path: circle();
    }
  }

  .profil {
    color: var(--g600);
  }

  .count {
    font-size: 0.8em;
    margin-top: 2px;
    align-items: center;
    display: flex;

    .question {
      width: 16px;
      height: auto;
      margin-right: 10px;
    }
  }
}

.user {
  display: flex;
  flex-direction: row;

  .images {

    .icon {
      margin-top: 5px;
      display: flex;
      width: 60px;
      height: 60px;
      align-items: center;
      justify-content: center;
      z-index: 20;
      background-color: white;
      clip-path: circle();
    }

    ion-img {
      margin-top: 2px;
      clip-path: circle();
      width: 100px;
    }
  }

  .infos {
    flex: 1;
    margin-left: -60px;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 20px;
    padding-left: 60px;

    &.no-picture {
      margin-left: -30px;
      padding-left: 40px;
    }

    .profil {
      margin-top: 2px;
      font-size: 0.8em;
      color: grey;
    }

    .count {
      font-size: 0.8em;
      margin-top: 2px;
      align-items: center;
      display: flex;

      .question {
        width: 16px;
        height: auto;
        margin-right: 10px;
      }
    }
  }
}
