<!--
<div class="user">
  <div class="images">
    <ion-img *ngIf="user.profilePicture" [src]="user.profilePicture"></ion-img>
    <div class="icon" *ngIf="!user.profilePicture"><i class="fas fa-user-circle fa-3x"></i></div>
  </div>
  <div class="infos" [ngClass]="{'no-picture': !user.profilePicture}">
    <div><a [routerLink]="['/utilisateur/profil', user.id]">
      <span *ngIf="user.anonyme">{{ user.username }}</span>
      <span *ngIf="!user.anonyme">{{ user.firstName }} {{ user.lastName }}</span>
    </a></div>
    <div class="profil">Contributeur actif</div>
    <div class="count"><img class="question" src="assets/question.svg" alt="question"/>{{user.questionCount}} Questions</div>
    <div class="count"><img class="question" src="assets/question.svg" alt="question"/>{{user.answerCount}} Réponses</div>
  </div>
</div>
-->
<div class="user-list-item fr-tile fr-enlarge-link fr-tile--horizontal">
  <div class="fr-tile__body">
    <h4 class="fr-tile__title">
      <a class="fr-tile__link" [routerLink]="['/utilisateur/profil', user.id]">
        <span *ngIf="user.anonyme">{{ user.username }}</span>
        <span *ngIf="!user.anonyme">{{ user.firstName }} {{ user.lastName }}</span>
      </a>
    </h4>
    <p class="fr-tile__desc">{{user.job}}</p>
    <p class="profil fr-tile__desc">{{ (user.questionCount + user.answerCount) | profile}}</p>
    <p class="fr-tile__desc">
    <span class="count"><i class="icon-questions"></i>{{user.questionCount}} Questions</span>
    <span class="count"><i class="icon-questions"></i>{{user.answerCount}} Réponses</span>
    </p>
  </div>
  <div class="fr-tile__img">
    <img *ngIf="user.profilePicture" [src]="user.profilePicture" alt="" />
    <div class="icon" *ngIf="!user.profilePicture"><i class="fas fa-user-circle fa-3x"></i></div>
  </div>
</div>
