<app-header></app-header>
<ion-content>
  <app-page-title title="Modération"></app-page-title>

      <section class="fr-accordion">
        <h3 class="fr-accordion__title">
          <button class="fr-accordion__btn"
                  aria-controls="accordion-89"
                  [attr.aria-expanded]="expandQ"
                  (click)="expandQ = !expandQ">
            <p class="fr-badge fr-badge--error fr-badge--no-icon fr-badge--sm" >{{totalQuestion}}</p>
            Questions à valider
          </button>
        </h3>
        <div [ngClass]="{'fr-collapse': !expandQ,'fr-collapse--expanded': expandQ}" id="accordion-89">
          <app-question-list *ngIf="questionList && questionList.length>0"
                             class="colored-question-list"
                             [questionList]="questionList"
                             mode="moderation"></app-question-list>
          <div class="noquestion" *ngIf="questionList && questionList.length == 0">Aucune question</div>
        </div>
      </section>
      <section class="fr-accordion">
        <h3 class="fr-accordion__title">
          <button class="fr-accordion__btn"
                  aria-controls="accordion-90"
                  [attr.aria-expanded]="expandS"
                  (click)="expandS = !expandS">
            <p class="fr-badge fr-badge--error fr-badge--no-icon fr-badge--sm" >{{totalAlertAnswer}}</p>
            Réponses signalées
          </button>
        </h3>
        <div [ngClass]="{'fr-collapse': !expandS,'fr-collapse--expanded': expandS}" id="accordion-90">
          <app-answer-list *ngIf="alertAnswerList && alertAnswerList.length>0"
                           [answerList]="alertAnswerList"></app-answer-list>
          <div class="noquestion" *ngIf="alertAnswerList && alertAnswerList.length == 0">Aucune réponse</div>
        </div>
      </section>
      <section class="fr-accordion">
        <h3 class="fr-accordion__title">
          <button class="fr-accordion__btn"
                  aria-controls="accordion-91"
                  [attr.aria-expanded]="expandN"
                  (click)="expandN = !expandN">
            <p class="fr-badge fr-badge--error fr-badge--no-icon fr-badge--sm" >{{totalAnswer}}</p>
            Nouvelles Réponses
          </button>
        </h3>
        <div [ngClass]="{'fr-collapse': !expandN,'fr-collapse--expanded': expandN}" id="accordion-91">
          <app-answer-list *ngIf="answerList && answerList.length>0"
                             [answerList]="answerList"></app-answer-list>
          <div class="noquestion" *ngIf="answerList && answerList.length == 0">Aucune réponse</div>
        </div>
      </section>
  <app-footer></app-footer>
</ion-content>
<app-footer-menu></app-footer-menu>
