.like-message-zone {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--border-default-grey);
  border-bottom: 1px solid var(--border-default-grey);

  .zone-like {
    border-right: 3px solid  var(--border-plain-blue-france);

    &.answer {
      border-right: 3px solid  var(--border-action-high-success);
    }

    .icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .user {
      .username a {
        text-decoration: none;
      }

      .profil {
        color: #888888;
        font-size: 0.8em;
      }
    }
  }

  .zone-message {
    flex: 1;
    display: flex;
    flex-direction: column;

    white-space: pre-wrap;
    overflow: hidden;

    .question {
      padding: 10px;
      background-color: var(--background-contrast-grey);
      font-weight: bold;
      font-size: 16px;
    }

    .message {
      padding: 10px;
      flex: 1;
      background-color: var(--background-contrast-grey);
    }

    .date {
      display: flex;
      flex-direction: row;
      background-color: var(--background-contrast-grey);
      font-size: 0.8em;
      padding-left: 10px;

      .created {
        flex: 1;
      }

      .alert {
        text-align: center;
        color: red;
        padding-right: 20px;
      }
    }
  }
}

.like-message-zone-subanswer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--border-default-grey);

  .zone-like {
    text-align: center;
  }

  .zone-message {
    flex: 1;
    border-left: 1px solid var(--border-default-grey);
    padding-left: 10px;
    overflow: hidden;

    &.zone-message-comment {
      padding-left: 0;
    }
  }

  .subanswer-user-zone {
    display: flex;
    flex-direction: row;
    color: var(--g600);
    font-size: 0.8rem;

    .username {
      flex: 1;

      a {
        box-shadow: none;
      }
    }

    ion-button {
      --padding-start: 0;
      --padding-end: 0;
      height: 1em;
      color: var(--g600);
      font-size: 0.8rem;
      margin-right: 5px;

      .fa-thumbs-up {
        padding-right: 5px;
      }
    }
  }

}


.submessage-zone {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--border-default-grey);
}

.zone-buttons {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--border-default-grey);

  div {
    padding: 0 5px;
    ion-button {
      height: 30px;
      width: auto;
      --padding-start: 0;
      --padding-end: 0;
      --color: black;

      label {
        display: block;
        font-size: 0.8em;
        padding-top: 5px;
      }

    }
  }

  .button-moderation {
    padding-top: 6px;
  }
}

.button-moderation button {
  margin-right: 5px;
  border-radius: 4px;

  &.btn-supprimer {
    background-color: #e1000f;
  }

  &.btn-valider {
    background-color: #1f8d49;
  }
}

.zone-user {
  display: flex;
  flex-direction: row;
  padding: 2px 5px;
  border-top: 1px solid var(--border-default-grey);
}

@media (max-width: 400px) {
  .zone-like {
    padding: 10px 5px;
    width: 80px;
  }
}

@media (min-width: 400px) {
  .zone-like {
    padding: 10px;
    width: 150px;
  }
}


.div-urgent {
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--background-action-high-error);
  color: var(--text-inverted-grey);
  margin-left: 5px;
}

/*

:host(.question) {

  .zone-user {
    border-bottom: 1px solid var(--border-default-grey);
    .user {
      padding-left: 0;
    }
  }

  .zone-date {
    padding-left: 0;
  }

  .zone-buttons {
    border-top: 1px solid var(--border-default-grey);
    border-bottom: 1px solid var(--border-default-grey);
    padding: 5px 0;
    div {
      flex: 1;
      text-align: center;
    }
  }
}

:host(.answer) {

  .zone-message {
    margin-left: 60px;
    margin-right: 30px;
    padding: 10px;
  }

  .zone-buttons {
    margin-left: 60px;
    margin-right: 30px;
    div {
      margin-right: 10px;
    }
  }

}


.zone-date {
  display: flex;
  flex-direction: row;
  padding: 0 10px ;
  margin-left: 60px;
  margin-right: 30px;
  color: #888888;
  font-size: 0.8em;

  .date {
    flex: 1;
  }

  .fa-thumbs-up {
    padding-right: 10px;
  }
}



.zone-answer {
  margin-left: 60px;
  margin-right: 15px;
}

.zone-answers {
  margin-left: 60px;
}
*/

.button-contact {
  text-align: center;

  button {
    color: var(--text-inverted-grey);
    background-color: var(--background-action-high-warning-hover);
    border-radius: 4px;
  }
}