
<div class="like-message-zone" *ngIf="type!='subanswer'">
  <div class="zone-like" [ngClass]="{'answer': type=='answer'}"  >
    <!--<i class="far fa-thumbs-up"></i>{{likeCount}} J'aime-->
    <div class="icon">
      <app-photo-profil [picture]="!item.anonyme && item.author ? item.author?.profilePicture : null" size="2x"></app-photo-profil>
    </div>
    <div class="user" *ngIf="item.author">
      <div class="username">
        <a *ngIf="!item.anonyme" [routerLink]="['/utilisateur/profil', item.author?.id]">
          {{ item.author?.firstName }} {{ item.author?.lastName }}
        </a>
        <span *ngIf="item.anonyme" >Anonyme</span>
      </div>
      <div class="profil" *ngIf="!item.anonyme">{{entityName}}</div>
      <div class="profil" *ngIf="!item.anonyme">{{(item.author?.questionCount + item.author?.answerCount) | profile}}</div>
      <div class="profil button-contact" *ngIf="!isMine && item.author.allowContact && isQuestionAuthor">
        <button class=" fr-btn fr-btn--sm" (click)="contactUser(item.author)">Contacter</button>
      </div>
    </div>
    <div class="user" *ngIf="!item.author">
      Le compte a été supprimé
    </div>
  </div>
  <div class="zone-message" >
    <div class="question" *ngIf="type=='question'" [innerHTML]="getLabel()" ></div>
    <div class="message" *ngIf="item.message" [innerHTML]="item.message" ></div>
    <div class="message" *ngIf="!item.message" >Ce message a été supprimé</div>
    <div class="date">
      <div class="created">{{item.createdAt | customDate}}</div>
      <div *ngIf="isAdmin && item.alert && !item.valid" class="alert"><i class="fas fa-bell fa-2x"></i></div>
    </div>
    <div class="zone-buttons">
      <div *ngIf="isMine && !item.moderate && item.message">
        <ion-button fill="clear" size="small" mode="ios" (click)="update()">
          <div>
            <i class="far fa-edit"></i>
            <label>Modifier</label>
          </div>
        </ion-button>
      </div>
      <div *ngIf="isMine && item.message">
        <ion-button fill="clear" size="small" mode="ios" (click)="delete()">
          <div>
            <i class="far fa-trash-alt"></i>
            <label>Supprimer</label>
          </div>
        </ion-button>
      </div>
      <div *ngIf="!item.moderate && item.message && (type=='question' || item.valid)">
        <ion-button fill="clear" size="small" mode="ios" (click)="answer()">
          <div>
            <i class="fas" [ngClass]="{'fa-reply':type=='question','fa-comment-alt':type!='question'}"></i>
            <label>{{type=='question'?'Répondre':'Commenter'}}</label>
          </div>
        </ion-button>
      </div>
      <div *ngIf="type=='question'">
        <ion-button fill="clear" size="small" mode="ios" (click)="shareQuestion()">
          <div>
            <i class="fas fa-share-alt"></i>
            <label>Partager</label>
          </div>
        </ion-button>
      </div>
      <div *ngIf="!isMine" >
        <ion-button fill="clear" size="small" mode="ios" (click)="like()">
          <div>
            <i class="fa-thumbs-up" [ngClass]="{'fas': liked, 'far': !liked}"></i>
            <label>J'aime</label>
          </div>
        </ion-button>
      </div>
      <div *ngIf="!isMine && item.message && !item.moderate" >
        <ion-button fill="clear" size="small" mode="ios" (click)="alert()">
          <div>
            <i class="fas fa-bell" ></i>
            <label>Signaler</label>
          </div>
        </ion-button>
      </div>
      <div class="button-moderation" *ngIf="isAdmin && type!='question' && (!item.valid || item.alert) && !item.moderate">
        <button class="fr-btn fr-btn--sm btn-valider" (click)="validate()">Valider</button>
        <button class="fr-btn fr-btn--sm btn-supprimer" (click)="moderate()">Supprimer</button>
      </div>
      <div class="button-moderation" *ngIf="!item.valid">
        <div class="div-urgent">En attente de validation</div>
      </div>
    </div>
  </div>
</div>
<div class="like-message-zone-subanswer" *ngIf="type=='subanswer'">
  <div class="zone-like"></div>
  <div class="zone-message" *ngIf="item.message" >
    <div [innerHTML]="item.message"></div>
    <div class="subanswer-user-zone">
      <div class="username">
        <a *ngIf="item.author && !item.anonyme" [routerLink]="['/utilisateur/profil', item.author?.id]">
          {{ item.author?.firstName }} {{ item.author?.lastName }}
        </a>
        <span *ngIf="item.author && item.anonyme" >Anonyme</span>
        <span *ngIf="!item.author" >Le compte a été supprimé</span>
        {{item.createdAt | customDate}}
      </div>
      <div *ngIf="!isMine" >
        <ion-button fill="clear" size="small" mode="ios" (click)="like()">
          <div>
            <i class="fa-thumbs-up" [ngClass]="{'fas': liked, 'far': !liked}"></i>
            <label>J'aime</label>
          </div>
        </ion-button>
      </div>
      <div *ngIf="!isMine" >
        <ion-button fill="clear" size="small" mode="ios" (click)="alert()">
          <div>
            <i class="fas fa-bell" ></i>
            <label>Signaler</label>
          </div>
        </ion-button>
      </div>
      <div *ngIf="isMine" >
        <ion-button fill="clear" size="small" mode="ios" (click)="update()">
          <div>
            <i class="far fa-edit"></i>
            <label>Modifier</label>
          </div>
        </ion-button>
      </div>
    </div>
  </div>
</div>


<div class="zone-answers" *ngIf="type=='answer' && item.answers">
  <ng-container *ngFor="let resp of item.answers; let idx = index">
    <app-question-response-item *ngIf="resp"
                                [item]="resp"
                                [user]="user"
                                [index]="idx"
                                [parentIndex]="index"
                                type="subanswer"></app-question-response-item>
  </ng-container>
</div>
<div class="like-message-zone-subanswer" *ngIf="type=='answer' && seeResponseZone">
  <div class="zone-like"></div>
  <div class="zone-message zone-message-comment" *ngIf="item.message" >
    <app-footer-answer-question [seeButtons]="true"
                                [submitLabel]="'Commenter'"
                                (cancel)="cancelMessage()"
                                (save)="saveSubResponse($event)"></app-footer-answer-question>
  </div>
</div>





