
<div class="message" [ngClass]="{'first': index==0}" [innerHTML]="answer.message"></div>
<div class="infos">
  <div class="user">
    <div class="username" *ngIf="answer.author"><a [routerLink]="['/utilisateur/profil', answer.author?.id]">{{answer.author.firstName}} {{answer.author.lastName}}</a></div>
    <div class="profil" >{{(answer.author?.questionCount + answer.author?.answerCount) | profile}}</div>
  </div>
  <div class="actions">
    <ion-button fill="clear" size="small" mode="ios" [routerLink]="['/questions/question', answer.question]">
      <div>
        <i class="fas fa-bell" ></i>
        <label>voir</label>
      </div>
    </ion-button>
  </div>
</div>

