.message {
  padding: 10px 20px;
  border-bottom: 1px solid var(--g300);

  &.first {
    border-top: 1px solid var(--g300);
  }
}

.infos {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--g300);
  padding: 0 10px;

  .user {
    flex: 1;

    .username a {
      text-decoration: none;
    }

    .profil {
      color: #888888;
      font-size: 0.8em;
    }
  }

  .actions {


    ion-button {
      height: 35px;
      width: auto;
      --padding-start: 0;
      --padding-end: 0;
      --color: black;

      label {
        display: block;
        font-size: 0.8em;
        padding-top: 5px;
      }

    }
  }
}
