<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Partage d'une question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-family: helvetica;">
<div style="max-width: 700px; margin: auto">
	<img src="cid:imagename" alt="logo" style="height: 100px; width: auto">
  <hr/>
    <h2>Bonjour,</h2>
	<h3>Votre demande de contact a été envoyée à {{user}} avec le message suivant</h3>

    <p>{{message}}</p>

  <hr/>

  <div style="text-align: center">Entraide-entreprises</div>
  <div style="text-align: center">{{ urlSite }}</div>
</div>
</body>

</html>
