<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Notification sur Entraide Entreprises</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-family: helvetica;">

<div style="max-width: 700px; margin: auto">
  <img src="cid:imagename" alt="logo" style="height: 100px; width: auto">
  <hr/>
  <h2>Bonjour,</h2>

  <p>{{notification}}</p>
  <a style="
        background-color: #0057D9; color: white; padding: 10px; display: block; border-radius: 5px; margin: 0 auto;
        width: 200px; text-align: center; text-decoration: none; font-size: 20px" href="{{ urlQuestion }}">
    Voir la question
  </a>

  <hr/>

  <div style="text-align: center">Entraide-entreprises</div>
  <div style="text-align: center">{{ urlSite }}</div>
</div>
</body>

</html>
