<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Réinitialiser votre mot de passe sur Entraide Entreprises</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-family: helvetica;">

<div style="max-width: 700px; margin: auto">
  <img src="cid:imagename" alt="logo" style="height: 100px; width: auto">
  <hr/>
  <h2>Bonjour,</h2>
  <h3>Vous avez demandé la réinitialisation de votre mot de passe.</h3>

  <p>Merci de cliquer sur le lien ci-dessous.</p>
  <a style="
        background-color: #0057D9; color: white; padding: 24px; display: block; border-radius: 5px; margin: 0 auto;
        width: 200px; text-align: center; text-decoration: none; font-size: 20px" href="{{ urlPasswordReset }}">
    Réinitialiser mon mot de passe
  </a>


  <p style="margin:30px 0">Si vous n'arrivez pas à cliquer sur le lien, merci de copier cette url sur votre navigateur : <br/> {{ urlPasswordReset }}</p>

  <hr/>

  <div style="text-align: center">Entraide-entreprises</div>
  <div style="text-align: center">{{ urlSite }}</div>
</div>
</body>

</html>
