<ion-list *ngIf="questionList && questionList.length > 0">
  <app-question-list-item *ngFor="let question of questionList; let odd = odd; let index = index"
                          [question]="question"
                          [mode]="mode"
                          [index]="index"
                          [showAnonyme]="showAnonyme"
                          [className]="odd?'odd':'even'"
  ></app-question-list-item>
</ion-list>
<div class="no-question" *ngIf="questionList && questionList.length == 0 && emptyMessage">
  {{emptyMessage}}
</div>

