<div class="zone-form">
  <app-form [fields]="formConfig"
            (submitForm)="save($event)"
  ></app-form>
</div>
<!--
<form [formGroup]="form" >

<ion-item class="item-input" lines="none">
  <ion-label position="stacked">Titre de ma question *</ion-label>
  <ion-input  formControlName="label"></ion-input>
  <div *ngIf="!form.controls.label.valid && form.controls.label.touched" class="validator-error">
    Le titre est obligatoire.
  </div>
</ion-item>

<ion-item class="item-input" lines="none">
  <ion-label position="stacked">Contexte de ma question *</ion-label>
  <div *ngIf="!form.controls.message.valid && form.controls.message.touched" class="validator-error">
    Le contexte est obligatoire.
  </div>
</ion-item>


<ion-button class="login-button" (click)="save()"
            expand="full"
            color="primary"
            shape="round"
            [disabled]="!form.valid" >
  {{question && question.id ? 'Modifier votre question':'Poser votre question'}}
</ion-button>

</form>
-->
