.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: stretch;
}

app-theme-list-item {
  display: flex;
  flex-direction: column;
  width: 180px;
  max-width: 49%;
}
