
<div class="photo">
  <ion-fab-button *ngIf="!value" (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
  <ion-img *ngIf="value" [src]="value" (click)="takePhoto()"></ion-img>
</div>
