<div [formGroup]="group"  class="fr-checkbox-group">
  <input type="checkbox" [attr.id]="'checkbox-'+field.name" [formControlName]="field.name" >
  <label class="fr-label" [attr.for]="'checkbox-'+field.name">{{field.label}} <span class="red" *ngIf="required">*</span></label>
  <button mat-icon-button type="button" *ngIf="field.contenuHtml" (click)="see()" aria-label="voir"><i class="fas fa-eye"></i></button>


  <button mat-icon-button type="button" #tooltip="matTooltip" *ngIf="field.description"
          [matTooltip]="field.description"
          matTooltipPosition="below"
          matTooltipHideDelay="100000"
          aria-label="Description de la case à cocher"
          class="descrption">
    <i class="fas fa-info-circle" ></i>
  </button>
  <ng-container *ngFor="let validation of field.validations" ngProjectAs="mat-error">
    <p *ngIf="group.get(field.name).touched && group.get(field.name).hasError(validation.name)"
       [attr.id]="'text-input-'+field.name+'-error'" class="fr-error-text">
      {{ validation.message }}
    </p>
  </ng-container>
</div>
