<app-header></app-header>
<ion-content>
  <app-profil-entete [profil]="profil$ | async" [currentUser]="user$ | async"></app-profil-entete>
  <app-profil-tabs [profil]="profil$ | async" [currentUser]="user$ | async"></app-profil-tabs>
</ion-content>
<app-footer-menu></app-footer-menu>
