<app-header></app-header>
<ion-content>
  <app-page-title title="Contenu HTML"></app-page-title>

  <div class="fr-table">
    <table>
      <caption>Contenu HTML</caption>
      <thead>
      <tr>
        <th class="col-label" scope="col">Code</th>
        <th scope="col">Titre</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of list">
        <td><a [routerLink]="[item.code]">{{item.code}}</a></td>
        <td>{{item.titre}}</td>
        <td><button class="fr-btn" (click)="see(item.code)">Voir</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</ion-content>
<app-footer-menu></app-footer-menu>