<app-header></app-header>

<ion-content>
  <app-page-title title="Vérifier mon compte"></app-page-title>

  <div class="content" *ngIf="errorCode=='EXPIRE' || errorCode=='NOT_FOUND'">
    <h2>Merci de rejoindre Entraide Entreprises</h2>
    <p>Le lien a expiré ou est erroné, cliquez sur le bouton ci-dessous pour renvoyer un mail</p>

    <app-form [fields]="formConfig"
              (submitForm)="sendEmail($event)"
              submitLabel="Envoyer un nouveau mail"
    ></app-form>

    <p *ngIf="sendMailOk">
      Si vous possédez un compte chez nous, un nouvel email vous a été envoyé.
    </p>
  </div>

  <div class="content" *ngIf="!isComplete && (isOk || errorCode=='ALREADY_CHECK')">
    <h2>Merci de rejoindre Entraide Entreprises</h2>
    <h4>Votre compte a bien été vérifié</h4>
    <p>Vous pouvez maintenant finaliser votre inscription</p>
    <app-complete-inscription-form (completeInscription)="completeInscription($event)"></app-complete-inscription-form>
  </div>

  <div class="content" *ngIf="isComplete">
    <h2>Merci de rejoindre Entraide Entreprises</h2>
    <h4>Votre inscription est terminée</h4>
    <p>Vous pouvez maintenant vous connecter</p>
    <button class="fr-btn" routerLink="/login">Me connecter</button>
  </div>

  <app-footer></app-footer>
</ion-content>
<app-footer-menu></app-footer-menu>

