<footer class="fr-footer" role="contentinfo" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <a href="/" title="Retour à l’accueil">
          <p class="fr-logo" title="république française">
            Entraide Entreprises
          </p>
        </a>
      </div>
      <div class="fr-footer__content">
        <div class="fr-footer__content-desc">
          Entraide Entreprises est une plateforme numérique, en construction, qui permet aux dirigeants, prioritairement de TPE, de poser leurs questions, de façon anonyme ou publique selon leur choix, et d’obtenir des réponses de pairs et d’experts classées par vote des utilisateurs. Les questions et réponses sont accessibles à tous les utilisateurs de la plateforme, dans une logique totalement ouverte.
        </div>
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://gouvernement.fr">gouvernement.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://service-public.fr">service-public.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://data.gouv.fr">data.gouv.fr</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="#">Plan du site</a>
        </li>
        <li class="fr-footer__bottom-item">
          <button class="fr-footer__bottom-link" (click)="seeContenu('contact')">Contact</button>
        </li>
        <li class="fr-footer__bottom-item">
          <button class="fr-footer__bottom-link" (click)="seeContenu('mentions-legales')">Mentions légales</button>
        </li>
        <li class="fr-footer__bottom-item">
          <button class="fr-footer__bottom-link" (click)="seeContenu('donnees-personnelles')">Données personnelles</button>
        </li>
        <li class="fr-footer__bottom-item">
          <button class="fr-footer__bottom-link" (click)="seeContenu('gestion-cookies')">Gestion des cookies</button>
        </li>
      </ul>
      <div class="fr-footer__bottom-copy">
        <p>Sauf mention contraire, tous les contenus de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a>
        </p>
      </div>
    </div>
  </div>
</footer>