<app-header></app-header>
<ion-content>
  <app-page-title title="Créer votre profil"></app-page-title>

  <div class="zone-form" *ngIf="!seeConfirmation">
    <div>Vous devez être inscrit et connecté pour poser votre question.</div>
    <app-form #appForm [fields]="step1Fields"
              (submitForm)="save($event)"
              submitLabel="M'inscrire"
    ></app-form>
  </div>

  <div class="zone-confirmation" *ngIf="seeConfirmation">
    <h2>Merci pour votre inscription</h2>
    <p>Un mail vous a été envoyé pour valider votre compte. Le lien fourni pour la vérification du compte
      expirera dans 10 heures.</p>
    <br />
    <p>Si vous n'avez toujours rien reçu dans 5 minutes, pensez à vérifier le dossier indésirable de votre boite mail
      puis cliquez sur le bouton ci-dessous au besoin.</p>
    <button class="fr-btn" (click)="resendEmail()" >Envoyer un nouveau mail</button>
  </div>

  <app-footer></app-footer>
</ion-content>
<app-footer-menu></app-footer-menu>
