:host {
  display: flex;
  padding: 20px;
  max-width: 78em;
  margin: auto;
}

.ajout_thematique {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}

.fr-table table {
  display: table;
}