<app-header></app-header>
<ion-content>
  <app-page-title title="Liste des thématiques"></app-page-title>

  <div class="ajout_thematique">
    <button class="fr-btn" (click)="add()">
      Ajouter une thématique
    </button>
  </div>

  <div class="fr-table fr-table--bordered fr-table--no-caption">
    <table>
      <caption>Liste des thématiques</caption>
      <thead>
      <tr>
        <th scope="col">Ordre</th>
        <th scope="col"> Libellé </th>
        <th scope="col"> Icône </th>
        <th scope="col"> Défaut </th>
        <th scope="col"> Active </th>
        <th scope="col"> Action </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of list">
        <td>{{item.order}}</td>
        <td>{{item.label}}</td>
        <td>{{item.icon}}</td>
        <td><i *ngIf="item.default" class="fas fa-check" title="Thématique par défaut"></i></td>
        <td><i *ngIf="item.active" class="fas fa-check" title="Thématique active"></i></td>
        <td>
          <button class="fr-btn fr-btn--secondary" (click)="update(item)">
            Modifier
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-footer></app-footer>
</ion-content>
<app-footer-menu></app-footer-menu>
