@media (prefers-color-scheme: dark) {
  :root body {
    --block-color-hover: rgba(65, 65, 65, 0.5);
    --block-color-active: rgba(99, 99, 99, 0.5);
  }

  :root body {
    --block-color-hover: rgba(65, 65, 65, 0.5);
    --block-color-active: rgba(99, 99, 99, 0.5);
  }

  :root .fr-accordion .fr-accordion__btn {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }

  :root .fr-card.fr-enlarge-link {
    --color-hover: rgba(79, 79, 79, 0.5);
    --color-active: rgba(115, 115, 115, 0.5);
  }

  :root .fr-link {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }

  :root .fr-logo::after {
    background-position: -2.625rem 100%;
  }

  :root .fr-logo--sm::after {
    background-position: -1.96875rem 100%;
  }

  :root .fr-logo--lg::after {
    background-position: -3.28125rem 100%;
  }

  :root .fr-pagination__link {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }

  :root .fr-pagination__link[aria-current] {
    --color-hover: rgba(71, 71, 255, 0.5);
    --color-active: rgba(0, 0, 243, 0.5);
  }

  /* valeurs des couleurs en dark mode */
  :root {
    --bf500: #9a9aff;
    --bf500-plain: #000091;
    --w-bf500: #000091;
    --bf300-plain: #9a9aff;
    --bf200-bf300: #9a9aff;
    --bf100-g750: #2a2a2a;
    --t-plain: transparent;
    --t-w: #fff;
    --g800: #fff;
    --g700: #f0f0f0;
    --g600: #e7e7e7;
    --g500: #cecece;
    --g400: #9c9c9c;
    --g300: #6a6a6a;
    --g200: #383838;
    --g100: #2a2a2a;
    --w: #1e1e1e;
    --beige: #2a2a2a;
    --g800-plain: #1e1e1e;
    --g600-g400: #cecece;
    --g400-t: transparent;
    --g100-g800: #1e1e1e;
    --w-g750: #2a2a2a;
    --focus: #5398ff;
    --info: #2b8bf7;
    --success: #00eb5e;
    --error: #f33;
    --rm300: #383838;
    --rm500: #f7bfc3;
    --scroll-shadow: #1e1e1e;
    --overlay: rgba(206, 206, 206, 0.32);
  }

  :root :root .fr-scheme-light-white {
    --block-color-hover: rgba(65, 65, 65, 0.5);
    --block-color-active: rgba(99, 99, 99, 0.5);
  }

  :root :root .fr-scheme-light-grey-100 {
    --block-color-hover: rgba(65, 65, 65, 0.5);
    --block-color-active: rgba(99, 99, 99, 0.5);
  }

  :root :root .fr-scheme-light-grey-200 {
    --block-color-hover: rgba(95, 95, 95, 0.5);
    --block-color-active: rgba(134, 134, 134, 0.5);
  }

  :root :root .fr-scheme-light-beige {
    --block-color-hover: rgba(79, 79, 79, 0.5);
    --block-color-active: rgba(115, 115, 115, 0.5);
  }

  :root :root .fr-scheme-dark-grey-800 {
    --block-color-hover: rgba(65, 65, 65, 0.5);
    --block-color-active: rgba(99, 99, 99, 0.5);
  }

  :root .fr-switch-theme .fr-fieldset .fr-radio-group:nth-child(1) input[type=radio] + label {
    background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='80' height='80'><defs><path id='a' d='M0 0h80v80H0z'/></defs><g fill='none' fill-rule='evenodd'><mask id='b' fill='%23fff'><use xlink:href='%23a'/></mask><circle cx='40' cy='40' r='16' stroke='%239a9aff' stroke-width='2' mask='url(%23b)'/><path fill='%23F7BFC3' fill-rule='nonzero' d='M40 29a1 1 0 010 2 9 9 0 00-9 9 1 1 0 01-2 0c0-6.075 4.925-11 11-11z' mask='url(%23b)'/><path fill='%239a9aff' d='M39.912 64a1 1 0 011 1v6a1 1 0 01-2 0v-6a1 1 0 011-1zm18.947-7.262l4.243 4.242a1 1 0 01-1.415 1.414l-4.242-4.242a1 1 0 011.414-1.414zm-35.48 0a1 1 0 010 1.414l-4.243 4.242a.999.999 0 11-1.414-1.414l4.242-4.242a1.002 1.002 0 011.415 0zM71 38.912a1 1 0 110 2h-6a1 1 0 010-2h6zm-56 0a1 1 0 110 2H9a1 1 0 010-2h6zm4.26-21.772l4.244 4.242a1 1 0 01-1.415 1.414l-4.242-4.242a1 1 0 011.414-1.414zm43.717 0a1 1 0 010 1.414l-4.243 4.242a.999.999 0 11-1.414-1.414l4.242-4.242a1.002 1.002 0 011.415 0zM39.912 8a1 1 0 011 1v6a1 1 0 01-2 0V9a1 1 0 011-1z' mask='url(%23b)'/></g></svg>");
  }

  :root .fr-switch-theme .fr-fieldset .fr-radio-group:nth-child(2) input[type=radio] + label {
    background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='80'><g fill='none' fill-rule='evenodd'><path d='M0 0h80v80H0z'/><path stroke='%239a9aff' stroke-linejoin='round' stroke-width='2' d='M38 26c0 11.046 8.954 20 20 20 2.23 0 4.376-.365 6.38-1.039C62.174 53.607 54.333 60 45 60c-11.046 0-20-8.954-20-20 0-8.815 5.703-16.298 13.62-18.961A20.039 20.039 0 0038 26z'/><path fill='%23F7BFC3' d='M14.647 20.823l-4.151-.85 4.151-.848.849-4.152.849 4.152 4.151.848-4.151.85-.849 4.15zM57.647 31.823l-4.151-.85 4.151-.848.849-4.152.849 4.152 4.151.848-4.151.85-.849 4.15zM18.647 60.823l-4.151-.85 4.151-.848.849-4.152.849 4.152 4.151.848-4.151.85-.849 4.15z'/></g></svg>");
  }

  :root .fr-sidemenu__link {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }

  :root .fr-summary__list > li > a {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }

  :root .fr-tabs__tab:not([aria-selected=true]) {
    --color-hover: rgba(79, 79, 79, 0.5);
    --color-active: rgba(115, 115, 115, 0.5);
  }

  :root .fr-tile.fr-enlarge-link {
    --color-hover: rgba(79, 79, 79, 0.5);
    --color-active: rgba(115, 115, 115, 0.5);
  }

  :root .fr-btn {
    --color-hover: rgba(71, 71, 255, 0.5);
    --color-active: rgba(0, 0, 243, 0.5);
  }

  :root .fr-btn--secondary {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }

  :root .fr-footer__brand .fr-logo::after {
    background-position: -2.625rem 100%;
  }

  :root .fr-select {
    --data-uri-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23fff' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/></svg>");
  }

  :root select.fr-select[disabled],
  :root select.fr-select:disabled {
    --data-uri-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23cecece' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/></svg>");
  }

  :root a.fr-tag, button.fr-tag {
    --color-hover: rgba(71, 71, 255, 0.5);
    --color-active: rgba(0, 0, 243, 0.5);
  }

  :root .fr-nav__link, .fr-nav__btn {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }

  :root .fr-header__logo .fr-logo::after {
    background-position: -1.96875rem 100%;
  }

  :root .fr-header__navbar .fr-btn {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }

  :root .fr-sidemenu__btn {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }

  :root .fr-footer__brand .fr-logo::after {
    background-position: -3.28125rem 100%;
  }

}
