@font-face {
    font-family: 'Evolventa';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Evolventa-Regular.woff') format('woff');
} 
  
@font-face {
    font-family: 'Evolventa';
    font-style: italic;
    font-weight: normal;
    src: url('../assets/fonts/Evolventa-Oblique.woff') format('woff');
} 
  
@font-face {
    font-family: 'Evolventa';
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/Evolventa-Bold.woff') format('woff');
} 
  
@font-face {
    font-family: 'Evolventa';
    font-style: italic;
    font-weight: bold;
    src: url('../assets/fonts/Evolventa-BoldOblique.woff') format('woff');
}

@font-face {
    font-family: 'Source sans pro';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/SourceSansPro-Regular.woff') format('woff');
} 

@font-face {
    font-family: 'Source sans pro';
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/SourceSansPro-Semibold.woff') format('woff');
} 