@font-face {
  font-family: 'thematic-fonts';
  src:  url('/assets/thematics-fonts/thematic-fonts.eot?rkiclw');
  src:  url('/assets/thematics-fonts/thematic-fonts.eot?rkiclw#iefix') format('embedded-opentype'),
  url('/assets/thematics-fonts/thematic-fonts.ttf?rkiclw') format('truetype'),
  url('/assets/thematics-fonts/thematic-fonts.woff?rkiclw') format('woff'),
  url('/assets/thematics-fonts/thematic-fonts.svg?rkiclw#thematic-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'thematic-fonts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-account:before {
  content: "\e900";
}
.icon-questions:before {
  content: "\e901";
}
.icon-covid:before {
  content: "\e902";
}
.icon-digital:before {
  content: "\e903";
}
.icon-innovation:before {
  content: "\e904";
}
.icon-employment:before {
  content: "\e905";
}
.icon-management:before {
  content: "\e906";
}
.icon-recovery:before {
  content: "\e907";
}
.icon-regulation:before {
  content: "\e908";
}
.icon-strategy:before {
  content: "\e909";
}
