:host {
  display: flex;
  max-width: 78em;
  margin: auto;
}

.app-title {
  padding: 10px 5px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

h2 {
  padding-top: 10px;
  padding-left: 20px;
}

.text-accueil {
  margin: 0 20px;
}

.app-subtitle {
  padding-top: 0;
}

.message_accueil {
  padding: 0 20px;

  button {
    box-shadow: none;
    text-decoration: underline;
  }
}

.search {
  width: 90%;
  margin: auto;
}

.fr-btn.fr-btn--lg {
  justify-content: center;
  align-self: center;
}

@media (max-width: 400px) {
  .footer .fr-btn.fr-btn--lg {
    width: 70%;
  }
}

@media (min-width: 400px) {
  .fr-btn.fr-btn--lg {
    max-width: 300px;
  }
}

@media (max-width: 800px) {
  .title-desktop {
    flex-direction: column !important;
  }

  .app-title {
    padding: 10px 20px !important;
  }
}

@media (min-width: 1250px) {
}

@media (max-width: 1250px) {
  /*
  .questions-frequentes, .title-desktop {
    display: none !important;
  }

   */
}

@media (min-width: 600px) {
}

.questions-frequentes-mobile,
.text-accueil-mobile,
.new-question-mobile,
.title-mobile {
  display: none;
}

.thematique-mobile {
  display: none;
}

.fr-container {
  width: auto;
}

.questions-frequentes {
  padding: 30px;
  color: var(--text-inverted-grey);
  background-color: var(--background-action-high-blue-ecume);

  h2, a {
    color: var(--text-inverted-grey);
    text-align: center;
  }

  h2 {
    display: flex;
    justify-content: center;

    i {
      margin-right: 10px;
    }
  }

  .item {
    display: flex;
    flex-direction: row;

    .icon {
      padding: 0 10px;
    }
  }

  .response {
    text-align: center;
    font-size: 0.8em;
    padding: 10px 0 20px;
  }
}

.title-desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 25px;
  max-width: 800px;


  div {
    text-align: center;
  }

  img {
    height: 250px;
  }
}

.thematique-desktop {
  max-width: 800px;
  margin: auto;
}
