<app-header></app-header>
<ion-content>
  <h1 class="app-title title-mobile">
    Bienvenue dans la communauté Entraide Entreprises
  </h1>

  <section class="title-desktop">
    <div>
      <h1 class="app-title">
        Dirigeants, trouvez les réponses à vos questions grâce à la communauté Entraide Entreprises
      </h1>
      <button class="fr-btn fr-btn--lg" routerLink="/questions/nouvelle-question">
        Posez votre question à la communauté
      </button>
    </div>
    <img src="assets/images/users.png" alt="Utilisateurs">
  </section>

  <section class="text-accueil-mobile" *ngIf="!isAuthen" >
    <h2 class="app-subtitle" >Dirigeants : des questions sur votre entreprise?</h2>
    <div class="fr-card fr-card--no-arrow text-accueil">
      <div class="fr-card__body ">
        <h4>
          Trouvez les réponses grâce à la communauté d’Entraide Entreprises,
          plateforme portée par le Ministère de l’Economie, des Finances et de la Relance.
        </h4>
        <ol>
          <li>Posez votre question</li>
          <li>Recevez les réponses des contributeurs (chefs d’entreprise, experts) classées par votes des utilisateurs</li>
          <li>Accédez librement à toutes les contributions de la communauté d’Entraide Entreprises.</li>
        </ol>
        <button class="fr-btn fr-btn--lg" routerLink="/questions/nouvelle-question">
          Posez votre question à la communauté
        </button>
      </div>
    </div>
  </section>

  <div class="footer new-question-mobile" *ngIf="isAuthen">
    <button class="fr-btn fr-btn--lg" routerLink="/questions/nouvelle-question">
      Posez votre question à la communauté
    </button>
  </div>

  <section class="thematique-desktop">
    <app-theme-list [themeList]="allThemeList"></app-theme-list>
  </section>

  <section class="questions-frequentes">
    <h2><i class="icon-questions thematic-icon"></i> <span>Vos questions les plus fréquentes</span></h2>

    <div *ngFor="let item of (questionList$ | async)">
      <div class="item">
        <div class="icon"><i class="icon-questions thematic-icon"></i></div>
        <div class="label">{{item.label}}</div>
      </div>
      <div class="response"><a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" [routerLink]="['/questions', 'question', item.id]">Voir la réponse</a></div>
    </div>
  </section>

  <section class="questions-frequentes-mobile">
    <h2>Questions les plus fréquentes...</h2>
    <app-question-list [questionList]="questionList$ | async" mode="light"></app-question-list>
    <div class="footer">
      <button class="fr-btn fr-btn--lg" routerLink="/questions/rechercher">
        Recherchez une question
      </button>
    </div>
  </section>

  <section class="thematique-mobile">
    <h2>Thématiques les plus fréquentes...</h2>
    <app-theme-list [themeList]="themeList"></app-theme-list>
    <div class="footer">
      <button class="fr-btn fr-btn--lg" routerLink="/questions/liste-des-thematiques">
        Toutes les thématiques
      </button>
    </div>
  </section>
  <app-footer></app-footer>
</ion-content>
<app-footer-menu></app-footer-menu>
