<ion-header translucent>
  <ion-toolbar mode="md">
    <ion-title>Import</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal(false)">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="import-form">
    <div class="fr-input-group">
      <label class="fr-label" for="textarea">
        Liste de questions à importer
      </label>
      <textarea class="fr-input" id="textarea" rows="20" [(ngModel)]="text"
                [placeholder]="type=='import_questions'?placeholderQuestion:placeholderThematic"></textarea>
    </div>
    <button class="fr-btn" (click)="save()" [disabled]="!text">Importer</button>
  </div>
</ion-content>
