:host {
  display: flex;
  max-width: 78em;
  margin: auto;
}

ion-footer{
  border-top: 1px solid #cccccc;
  box-shadow: 0 4px 5px 5px rgba(200, 200, 200, 0.5);
}

@media (min-width: 780px) {
  .answer-question-footer {
    display: none;
  }
}
@media (max-width: 780px) {
  .answer-question-content {
    display: none;
  }
}

.no-question {
  text-align: center;
  margin-top: 20px;
}