<app-header></app-header>
<ion-content #content *ngIf="!(loading$ | async)">
  <ng-container *ngIf="(question$ | async) as question; else noQuestion">
    <app-question-detail [question]="question"
                         [responseList]="responseList$ | async"
                         [user]="user$ | async"
                         (answerClick)="onAnswerClick()"
    ></app-question-detail>
    <app-footer-answer-question
            class="answer-question-content"
            #footer (save)="saveAnswer($event)"
    ></app-footer-answer-question>
  </ng-container>
  <ng-template #noQuestion>
    <h4 class="no-question">La question a été supprimée</h4>
  </ng-template>
  <app-footer></app-footer>
</ion-content>
<ion-footer class="answer-question-footer" *ngIf="(user$ | async)">
  <app-footer-answer-question #footer (save)="saveAnswer($event)"></app-footer-answer-question>
</ion-footer>
