/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~remixicon/fonts/remixicon.css';
@import '~@gouvfr/dsfr/dist/dsfr.css';

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Import font for icons
@import './theme/icon-font.scss';
@import './theme/fonts.scss';
@import './theme/dsfr.css';
@import './theme/dsfr-dark.css';

html {
  font-size: 12px;
}

* {
  // box-sizing: content-box;
}

.flex1 {
  flex: 1;
}

.red {
  color: var(--error);
}

.like-message-zone .zone-message a {
  color: var(--info);
}

.ck-editor__editable_inline {
  min-height: 150px;
}

* {
  //outline: none !important;
}

em {
  font-style: normal;
  font-weight: 600;
}

input, textarea {
  font-family: 'Source sans pro', 'Helvetica', sans-serif !important;
}

.menu-item-transparent {
  --ion-item-background: transparent;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

form {
  ion-item.item-input {
    margin-bottom: 20px;

    ion-label {
      font-size: 1em;
    }

    ion-input, ion-textarea, ion-datetime {
      margin-top: 5px;
      border: solid 1px grey;
      border-radius: 5px;
      padding: 0 10px;
      overflow: hidden;

      input {
        padding-left: 10px !important;
      }
    }

    ion-datetime {
      padding: 8px;
    }

    .validator-error {
      padding-top: 1px;
      color: red;
      font-size: 0.8em;
    }
  }
}

.menu-pane-visible {
  max-width: 300px;

  .button-close-menu {
    display: none;
  }
}

.header-mat-menu {
  button i {
    padding-right: 10px;
  }
}

@media (min-width: 48em) {
  .fr-search-bar--lg .fr-btn {
    min-height: 1.5rem !important;
  }
}

@media (min-width: 62em) {
  app-footer-menu {
    display: none;
  }
}

.ck-content {
  color: var(--text-active-grey);
  background-color: var(--background-contrast-grey) !important;
  box-shadow: inset 0 -2px 0 0 var(--g600);
}

/*
@media (min-width: 62em) and (max-width: 78em) {
  ion-content {
    --padding-start: 10em;
    --padding-end: 10em;
  }
}
 */

@media (min-width: 78em) {
  .fr-container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

app-header {
  display: block;
  position: relative;
  z-index: 45;
}

ion-content {
  --background: white;
}

app-response-add-form-modal ion-content,
app-select-thematic ion-content {
  --padding-start: 10px !important;
  --padding-end: 10px !important;
}

.mat-snack-bar-container.snackbar-error {
  background-color: #e74c3c;
}

.mat-snack-bar-container.snackbar-waiting {
  background-color: #abcdef;
}

.mat-snack-bar-container.snackbar-success {
  background-color: #8bcdc8;
}

.design-system-modal .mat-dialog-container {
  padding: 0 !important;
}