<app-header></app-header>
<ion-content>
  <app-theme-detail [thematique]="(thematique$ | async)"
                    [user]="(user$ | async)"
                    *ngIf="(thematique$ | async)"></app-theme-detail>
  <app-footer-ask-question></app-footer-ask-question>
  <app-footer></app-footer>
</ion-content>
<app-footer-menu></app-footer-menu>


