<app-header></app-header>
<ion-content>
  <app-page-title title="Rechercher une question"></app-page-title>

  <ion-toolbar class="search" >
    <div class="fr-search-bar fr-search-bar--lg" id="header-search" role="search">
      <label class="fr-label" for="search-question">
        Recherche
      </label>
      <input #q class="fr-input" placeholder="Tapez votre question" type="search" id="search-question" name="search-question"
             (keyup.enter)="search(q)"
             [ngModel]="searchQuestion$ | async">
      <button class="fr-btn" title="Rechercher" (click)="search(q)">
        Rechercher
      </button>
    </div>
  </ion-toolbar>

  <ng-container *ngIf="dialogflowQuestionList && dialogflowQuestionList.length > 0">
    <h3 class="titre-list">Choix préféré</h3>
    <app-question-list [questionList]="dialogflowQuestionList" mode="full"></app-question-list>
    <h3 class="titre-list" *ngIf="questionList && questionList.length>0" >Autres choix</h3>
  </ng-container>

  <app-question-list *ngIf="questionList && questionList.length>0"
                     [questionList]="questionList" mode="full"></app-question-list>

  <div class="info-no-question" *ngIf="(!questionList || questionList.length==0)
            && (!dialogflowQuestionList || dialogflowQuestionList.length==0) " >Aucune question ne correspond à votre recherche</div>

  <app-footer-ask-question></app-footer-ask-question>
  <app-footer></app-footer>
</ion-content>
<app-footer-menu></app-footer-menu>
