:host {
  display: flex;
  max-width: 78em;
  margin: auto;
}

.titre-list {
  padding: 0 20px;
  margin: 10px 0 0;
}

.info-no-question {
  text-align: center;
  font-size: 1em;
  padding: 20px;
}

.search {
  width: 90%;
  margin: auto;
}

.btn-import {
  padding: 20px;
  text-align: center;
}
