.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;

  .divider {
    flex: 1;
  }
}

.submit-button, .cancel-button {
  justify-content: center;
}