<form class="form" [formGroup]="form" (submit)="handleSubmit()">
  <div class="form-content">
    <ng-container *ngFor="let field of fields" appForm [field]="field" [group]="form"> </ng-container>
  </div>

  <div class="form-buttons">
    <button class="fr-btn submit-button" type="submit" [disabled]="!form.valid" >
      {{submitLabel}}
    </button>
    <div class="divider"></div>
    <button class="fr-btn fr-btn--secondary cancel-button" type="reset" *ngIf="cancelLabel" (click)="handleCancel()" >
      {{cancelLabel}}
    </button>
  </div>
</form>
