:host {
  display: flex;
  max-width: 78em;
  margin: auto;
}

.message-connexion {
  padding: 0 20px;
  text-align: justify;
}

.content-ok {
  padding: 0 20px;
}

.footer {
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 10px;
}
