<app-header></app-header>
<ion-content>
  <app-page-title title="Formuler une question"></app-page-title>

  <ng-container *ngIf="!addQuestionOk">
    <div class="message-connexion">
      Pour poser votre question, nous vous demanderons
      de créer un compte afin de vous identifier et de
      vous certifier auprès des autres utilisateurs, Merci
    </div>
    <app-question-add-form [question]="question" (questionSave)="checkQuestion($event)"></app-question-add-form>
  </ng-container>

  <ng-container *ngIf="addQuestionOk">
    <div class="message-connexion">
      Nous vous remercions pour votre question. Elle ne sera visible qu'après validation du modérateur.
    </div>
    <div class="footer">
      <button class="fr-btn" [routerLink]="['/questions', 'question', newQuestion.id]">
        Voir ma question
      </button>
    </div>

    <div class="content-ok" *ngIf="(questionList && questionList.length>0)
            || (dialogflowQuestionList && dialogflowQuestionList.length>0) ">

      <div>Voici quelques questions qui pourraient vous intéresser.</div>

      <ng-container *ngIf="dialogflowQuestionList && dialogflowQuestionList.length > 0">
        <h3 class="titre-list">Choix préféré</h3>
        <app-question-list [questionList]="dialogflowQuestionList" mode="full"></app-question-list>
        <h3 class="titre-list" *ngIf="questionList && questionList.length>0" >Autres choix</h3>
      </ng-container>

      <app-question-list *ngIf="questionList && questionList.length>0"
                         [questionList]="questionList" mode="full"></app-question-list>
    </div>


  </ng-container>
  <app-footer></app-footer>
</ion-content>
<app-footer-menu></app-footer-menu>
