
:host-context(.colored-question-list) {
  .odd {
    background-color: var(--beige);
  }
}

ion-item {
  &.first {
    border-top: 1px solid var(--border-color);
  }
  &.full .item-question .label h2 {
    font: bold 16px 'Marianne-Regular', 'Arial', 'Helvetica Neue', sans-serif;
  }

  .item-question {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    padding: 5px 0 5px 5px;

    .thematic {
      padding-right: 10px;

      .thematic-icon {
        font-size: 14px;
      }
    }

    .label {
      flex: 1;

      h3 {
        white-space: normal;
        margin: 0;
        font: 500 14px 'Marianne-Regular', 'Arial', 'Helvetica Neue', sans-serif;
      }

      h2 {
        white-space: normal;
        margin: 0;
        font: 500 16px 'Marianne-Regular', 'Arial', 'Helvetica Neue', sans-serif;


        a {
          text-decoration: none;
          color: var(--ion-color-primary-contrast-rgb);
          box-shadow: none;
        }
      }

      .div-dates {
        display: flex;
        flex-direction: row;
        color: grey;
        font-size: 12px;

        div {
          padding-right: 10px;
        }
      }

      .div-infos {
        display: flex;
        flex-direction: row;

        .div-response {
          display: inline-block;
          font-size: 12px;
          background-color: var(--background-alt-beige-gris-galet);
          border-radius: 5px;
          padding: 5px 10px;

          img {
            display: inline-block;
            padding-right: 5px;
          }

          div {
            display: inline-block;
          }

          &.answers {
            background-color: var(--background-action-high-success);
            color: var(--text-inverted-grey);
          }
        }

        .div-urgent {
          display: inline-block;
          font-size: 12px;
          border-radius: 5px;
          padding: 5px 10px;
          background-color: var(--background-action-high-error);
          color: var(--text-inverted-grey);
          margin-left: 5px;
        }
        .div-faq {
          display: inline-block;
          font-size: 12px;
          border-radius: 5px;
          padding: 5px 10px;
          background-color: var(--background-action-high-info);
          color: var(--text-inverted-grey);
          margin-left: 5px;
        }
        .div-anonyme {
          display: inline-block;
          font-size: 12px;
          border-radius: 5px;
          padding: 5px 10px;
          background-color: var(--background-action-high-info);
          color: var(--text-inverted-grey);
          margin-left: 5px;
        }
      }
    }

    .icons {
      display: flex;
      flex-direction: row;
      font-size: 12px;

      div {
        padding: 0 5px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  ion-item.light {
    --border-width: 0 !important;

    &.first {
      border-top: none;
    }

    .item-question .label .div-dates {
      display: none;
    }

    .item-question .icons {
      display: none;
    }

  }
  ion-item.full {
    .item-question .icons {
      display: none;
    }
  }
}

@media screen and (min-width: 640px) {
  ion-item.full {
    .item-question .label .div-response {
      display: none;
    }
  }
}
