<ion-item [ngClass]="{'light':mode==='light','full':mode==='full', 'even': className=='even', 'odd': className=='odd', 'first': index == 0}"
          lines="full" >
  <div class="item-question">
    <div class="thematic">
      <i [ngClass]="[question.thematic.icon || 'fas fa-image', 'thematic-icon']"></i>
    </div>
    <div class="label">
      <h2>
        <a [routerLink]="['/questions', 'question', question.id]">{{question.label}}</a>
      </h2>
      <div class="div-dates">
        <div>{{question.createdAt | customDate}}</div>
        <div>{{question.updatedAt | customDate: question.createdAt}}</div>
      </div>

      <div class="div-infos" *ngIf="mode!=='moderation'">
        <div class="div-response" [ngClass]="{'answers': question.answerCount >= 1}" *ngIf="mode==='full'">
          <i class="icon-questions"></i>
          <div *ngIf="!question.answerCount || question.answerCount == 0">Aucune réponse</div>
          <div *ngIf="question.answerCount >= 1">{{question.answerCount}} réponse<span *ngIf="question.answerCount > 1">s</span></div>
        </div>
        <div class="div-urgent" *ngIf="mode==='full' && question.isUrgent">Urgent</div>
        <div class="div-urgent" *ngIf="mode==='full' && !question.valid">En attente de validation</div>
        <div class="div-faq" *ngIf="mode==='full' && question.isFaq">FAQ</div>
        <div class="div-anonyme" *ngIf="mode==='full' && showAnonyme && question.anonyme">Mode anonyme</div>
      </div>
    </div>
    <div class="icons" *ngIf="mode!=='moderation'">
      <div>
        <i class="icon-questions"></i> {{question.answerCount}}
      </div>
      <div>
        <i class="fas fa-thumbs-up"></i> {{question.likes.length}}
      </div>
    </div>
  </div>
</ion-item>
