<div class="fr-form-group" [formGroup]="group" >
  <fieldset class="fr-fieldset"
            [ngClass]="{'fr-fieldset--error':group.get(field.name).touched && !group.get(field.name).valid,
                        'fr-fieldset--valid':group.get(field.name).touched && group.get(field.name).valid}">
    <legend class="fr-fieldset__legend fr-text--regular" [attr.id]="'radio-legend-'+ field.name">
      {{field.label}} <span class="red" *ngIf="required">*</span>
    </legend>
    <div class="fr-fieldset__content">
      <div class="fr-radio-group" *ngFor="let item of field.options">
        <input type="radio" [attr.id]="'radio-'+ item.value" [value]="item.value" [formControlName]="field.name">
        <label class="fr-label" [attr.for]="'radio-'+ item.value">{{item.label}}
        </label>
      </div>
    </div>
  </fieldset>
  <ng-container *ngFor="let validation of field.validations" ngProjectAs="mat-error">
    <p *ngIf="group.get(field.name).touched && group.get(field.name).hasError(validation.name)"
       [attr.id]="'text-input-'+field.name+'-error'" class="fr-error-text">
      {{ validation.message }}
    </p>
  </ng-container>
</div>
