
<div class="images" >
  <ion-img *ngIf="picture" [src]="picture" [ngClass]="{'img-3x': size === '3x','img-2x': size === '2x'}" ></ion-img>
  <div class="icon" *ngIf="!picture">
    <i class="fas fa-user-circle" [ngClass]="{'fa-3x': size === '3x','fa-2x': size === '2x'}"></i>
  </div>
</div>
