.images {

  .icon {
    background-color: white;
    clip-path: circle();
  }

  ion-img {
    clip-path: circle();
    width: 60px;
    height: 30px;

    &.img-2x {
      clip-path: circle();
      width: 100px;
      height: 50px;
    }
  }
}
