<h4 *ngIf="message || messageList">
  <div class="pull-right pointer" (click)="close()">x</div>
  {{data.titre }}
</h4>
<p *ngIf="message">{{ message  }}</p>

<ul *ngIf="messageList">
  <li *ngFor="let mess of messageList">{{mess }}</li>
</ul>
