
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="button-close-menu" (click)="closeMenu()"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-buttons>
  <ion-title></ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="closeMenu()" routerLink="/questions/nouvelle-question" *ngIf="(isAuthenticated | async)">Poser une question</ion-button>
    <ion-button (click)="openLoginForm()" *ngIf="(isAuthenticated | async) === false">Me connecter</ion-button>
  </ion-buttons>
</ion-toolbar>

<div class="divider"></div>

<ion-list id="inbox-list">
  <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
    <ion-item class="menu-item-transparent" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected"
              [routerLinkActiveOptions]="{exact: true}">
      <ion-label>{{ p.title }}</ion-label>
    </ion-item>
  </ion-menu-toggle>
  <ion-menu-toggle auto-hide="false" *ngIf="(isAuthenticated | async)">
    <ion-item class="menu-item-transparent" routerDirection="root" routerLink="/utilisateur/mon-profil" lines="none"
              detail="false"
              routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Mon compte</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>

<div class="divider"></div>


<ion-button (click)="logout()" fill="clear" size="small" *ngIf="(isAuthenticated | async)" >Se déconnecter</ion-button>
<ion-button (click)="closeMenu()" routerLink="/utilisateur/creer-profil" fill="clear" size="small" *ngIf="(isAuthenticated | async) === false" >M'inscrire</ion-button>
