:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--ion-color-primarylighter);

  @media (prefers-color-scheme: dark) {
    background: #747171;
  }
}

.header {
  display: flex;
  flex-direction: row;
}

.flex1 {
  flex: 1;
}

.divider {
  height: 1px;
  border-top: 1px solid grey;
  margin: 10px 50px;
}

ion-list {
  background-color: transparent;

  ion-item {
    font-weight: 600;
    border-left: 5px solid transparent;

    &.selected {
      border-left: 5px solid black;
    }

    ion-icon {
      padding-right: 10px;
    }
  }
}
