<div class="footer-question">
  <div>Vous ne trouvez pas votre question ?</div>
  <div>
    <button class="fr-btn" routerLink="/questions/nouvelle-question" >
      Posez votre question
    </button>
  </div>
</div>
