
<ng-container *ngIf="user">
  <p class="description">Sélectionner si vous souhaitez être notifié lors d'un événement sur une thématique ou un
    collaborateur que vous suivez</p>
  <div class="fr-table">
    <table>
      <caption>Mon activité</caption>
      <thead>
      <tr>
        <th class="col-label" scope="col">Type de notification</th>
        <th scope="col">Appli</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Réponse ou Commentaire sur une des mes questions</td>
        <td>
          <ion-toggle mode="md" color="primary"
                      [(ngModel)]="user.notification.myquestion_answer_appli"></ion-toggle>
        </td>
        <td>
          <ion-toggle mode="md" color="primary"
                      [(ngModel)]="user.notification.myquestion_answer_email"></ion-toggle>
        </td>
      </tr>
      <tr>
        <td>Commentaire sur une de mes réponses</td>
        <td>
          <ion-toggle mode="md" color="primary"
                      [(ngModel)]="user.notification.myanswer_comment_appli"></ion-toggle>
        </td>
        <td>
          <ion-toggle mode="md" color="primary"
                      [(ngModel)]="user.notification.myanswer_comment_email"></ion-toggle>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="fr-table">
    <table>
      <caption>Suivre une thématique</caption>
      <thead>
      <tr>
        <th class="col-label" scope="col">Type de notification</th>
        <th scope="col">Appli</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Création d'une question</td>
        <td>
          <ion-toggle mode="md" color="primary"
                      [(ngModel)]="user.notification.thematic_createquestion_appli"></ion-toggle>
        </td>
        <td>
          <ion-toggle mode="md" color="primary"
                      [(ngModel)]="user.notification.thematic_createquestion_email"></ion-toggle>
        </td>
      </tr>
      <tr>
        <td>Réponse ou Commentaire sur une question</td>
        <td>
          <ion-toggle mode="md" color="primary"
                      [(ngModel)]="user.notification.thematic_answerquestion_appli"></ion-toggle>
        </td>
        <td>
          <ion-toggle mode="md" color="primary"
                      [(ngModel)]="user.notification.thematic_answerquestion_email"></ion-toggle>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="fr-table">
    <table>
      <caption>Suivre un contributeur</caption>
      <thead>
      <tr>
        <th class="col-label" scope="col">Type de notification</th>
        <th scope="col">Appli</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Création d'une question</td>
        <td>
          <ion-toggle mode="md" color="primary"
                      [(ngModel)]="user.notification.user_createquestion_appli"></ion-toggle>
        </td>
        <td>
          <ion-toggle mode="md" color="primary"
                      [(ngModel)]="user.notification.user_createquestion_email"></ion-toggle>
        </td>
      </tr>
      <tr>
        <td>Réponse ou Commentaire sur une question</td>
        <td>
          <ion-toggle mode="md" color="primary"
                      [(ngModel)]="user.notification.user_answerquestion_appli"></ion-toggle>
        </td>
        <td>
          <ion-toggle mode="md" color="primary"
                      [(ngModel)]="user.notification.user_answerquestion_email"></ion-toggle>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="btn-save" (click)="save()">
    <button class="fr-btn">Enregistrer</button>
  </div>
</ng-container>

