
.fr-table {
  width: 100%;
  padding-top: 0;
  padding-bottom: 20px;
  margin-bottom: 0;

  .col-label {
    width: 500px;
  }

  ion-toggle {
    padding: 5px 1px;
  }
}

.fr-table[data-fr-js-table="true"] caption {
  position: relative;
}

.btn-save {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  .fr-btn {
    //flex: 1;
    //justify-content: center;
  }
}
