:host {
  display: block;
  margin-bottom: 0;
  min-height: 54px;
}

.fa-user-circle {
  padding-right: 5px;
}

ion-input, ion-textarea {
  margin-top: 5px;
  border: solid 1px grey;
  border-radius: 5px;
  padding: 0 10px;
  overflow: hidden;

  input {
    padding-left: 10px !important;
  }
}

.editor, .textarea {
  padding: 0 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;

  button {
    margin-left: 5px;
  }
}

.footer {
  margin-bottom: 5px;
}



@media (max-width: 780px) {
  .large-size {
    display: none;
  }
}

@media (min-width: 780px) {
  .small-size {
    display: none;
  }
}
