<div class="small-size">
  <div class="textarea" *ngIf="!showEditor">
    <ion-textarea #textarea [placeholder]="submitLabel" rows="1"
                  [autoGrow]="focus || control.value"
                  [formControl]="control"
                  (ionBlur)="onBlur()"
                  (ionFocus)="onFocus()"
    ></ion-textarea>
    <div class="buttons" *ngIf="focus || control.value || seeButtons">
      <button class="fr-btn fr-btn--sm fr-btn--secondary" (click)="showEditor = !showEditor"><i class="fas fa-tools"></i></button>
      <div class="flex1"></div>
      <button class="fr-btn fr-btn--sm fr-btn--secondary" (click)="cancelMessage()">Annuler</button>
      <button class="fr-btn fr-btn--sm" [disabled]="!formGroup.valid" (click)="saveMessage()">{{submitLabel}}</button>
    </div>
  </div>
  <div class="editor" *ngIf="showEditor">
    <app-field-editor [group]="formGroup" [field]="field"></app-field-editor>
    <div class="buttons">
      <button class="fr-btn fr-btn--sm fr-btn--secondary" (click)="cancelMessage()">Annuler</button>
      <button class="fr-btn fr-btn--sm" [disabled]="!formGroup.valid" (click)="saveMessage()">{{submitLabel}}</button>
    </div>
  </div>
</div>
<div class="large-size">
  <div class="editor">
    <app-field-editor [group]="formGroup" [field]="field"></app-field-editor>
    <div class="buttons">
      <button class="fr-btn fr-btn--sm fr-btn--secondary" (click)="cancelMessage()">Annuler</button>
      <button class="fr-btn fr-btn--sm" [disabled]="!formGroup.valid" (click)="saveMessage()">{{submitLabel}}</button>
    </div>
  </div>
</div>
<div class="footer"></div>
