<ion-header translucent>
  <ion-toolbar mode="md">
    <ion-title>Connexion</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal(false)">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <app-login-form (closeEvent)="dismissModal(false)"
                  (submit)="dismissModal(true)"
  ></app-login-form>
</ion-content>
