<div [formGroup]="group"  class="fr-input-group"
     [ngClass]="{'fr-input-group--error':group.get(field.name).touched && !group.get(field.name).valid,
                 'fr-input-group--valid':group.get(field.name).touched && group.get(field.name).valid}" >
  <label class="fr-label" [attr.for]="'text-input-'+field.name">
    {{field.label}} <span class="red" *ngIf="required">*</span>
  </label>

  <div class="fr-input-wrap">
    <input matInput class="fr-input" #input="matInput"
           [ngClass]="{'fr-input--error':group.get(field.name).touched && !group.get(field.name).valid,
                       'fr-input--valid':group.get(field.name).touched && group.get(field.name).valid}"
           [type]="hide ? 'password' : 'text'"
           [attr.id]="'text-input-'+field.name"
           [placeholder]="field.placeholder?field.placeholder:''"
           [formControlName]="field.name"
           [required]="required"
           [autocomplete]="field.autocomplete"
           (focus)="hideMess = !showOnFocus"
    />
    <ion-button class="button-eye" fill="clear" size="small" (click)="hide = !hide"><i class="fa" [ngClass]="{'fa-eye':!hide,'fa-eye-slash':hide}"></i></ion-button>
    <ion-button class="button-info" fill="clear" size="small" (click)="hideMess = !hideMess"><i class="ri-information-line"></i></ion-button>
  </div>
  <ng-container *ngFor="let validation of field.validations" ngProjectAs="mat-error">
    <p *ngIf="group.get(field.name).touched && group.get(field.name).hasError(validation.name)"
       [attr.id]="'text-input-'+field.name+'-error'" class="fr-error-text">
      {{ validation.message }}
    </p>
  </ng-container>

  <div class="fr-highlight" *ngIf="!hideMess">
    <p class="fr-text--sm" *ngFor="let item of validations"
       [ngClass]="{'message-password-valid': isValid(item.pattern)}">
      <i class="fr-fi-checkbox-line" aria-hidden="true"></i>
      <i class="fr-fi-close-circle-line" aria-hidden="true"></i>
      {{item.message}}
    </p>
  </div>
  <!--  || (showOnFocus && (input.focused
    || (group.get(field.name).value != null && group.get(field.name).value != ''))) -->
</div>
