.fr-input-group {
  padding-top: 10px;

  .fr-input-wrap {
    position: relative;
    overflow: hidden;

    .button-eye {
      position: absolute;
      right: 45px;
      top: 0;
      z-index: 10;
    }

    .button-info {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
    }
  }

  .fr-highlight {
    margin-top: 5px;
    margin-bottom: 5px;

    .fr-text--sm {
      color: var(--error);

      .fr-fi-checkbox-line {
        display: none;
      }

      &.message-password-valid {
        color: var(--success);

        .fr-fi-close-circle-line {
          display: none;
        }

        .fr-fi-checkbox-line {
          display: inline-block;
        }
      }
    }
  }
}



