<ion-header>
  <ion-toolbar mode="md">
    <ion-title>
      {{item ? 'Modifier' : 'Ajouter'}} une {{type === 'training' ? 'formation' : 'expérience'}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal(null)">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <app-form class="form-content" [fields]="fields"
            submitLabel="Sauvegarder"
            (submitForm)="save($event)"
  ></app-form>
</ion-content>
