<div [formGroup]="group"  class="fr-input-group"
     [ngClass]="{'fr-input-group--error':group.get(field.name).touched && !group.get(field.name).valid,
                 'fr-input-group--valid':group.get(field.name).touched && group.get(field.name).valid}" >
  <label class="fr-label" [attr.for]="'text-input-'+field.name">
    {{field.label}} <span class="red" *ngIf="required">*</span>
    <span class="fr-hint-text" *ngIf="field.description">{{field.description}}</span>
  </label>

  <div class="fr-input-wrap">
    <ckeditor id="editor" [editor]="Editor" [formControlName]="field.name" [config]="field.config?field.config:{}"></ckeditor>
  </div>

  <ng-container *ngFor="let validation of field.validations" ngProjectAs="mat-error">
    <p *ngIf="group.get(field.name).touched && group.get(field.name).hasError(validation.name)"
       [attr.id]="'text-input-'+field.name+'-error'" class="fr-error-text">
      {{ validation.message }}
    </p>
  </ng-container>
</div>
