<app-header></app-header>
<ion-content>
    <div class="zone-form" *ngIf="formConfig">
        <app-form [fields]="formConfig"
                  (submitForm)="save($event)"
        ></app-form>
    </div>
</ion-content>
<app-footer-menu></app-footer-menu>