
<div class="entete" *ngIf="profil">
  <div class="name">
    <div class="username" *ngIf="profil.anonyme">{{ profil.username }}</div>
    <div class="username" *ngIf="!profil.anonyme">{{ profil.firstName }} {{ profil.lastName }}</div>
    <div class="profil">
      <div>{{(profil.questionCount + profil.answerCount) | profile}}</div>
    </div>
  </div>
  <div>
    <app-photo-profil [picture]="profil.profilePicture"></app-photo-profil>
  </div>
</div>
<div class="button-actions" *ngIf="profil && (!currentUser || profil.id !== currentUser.id)">
  <div class="flex1"></div>
  <div class="followers">
    <button class=" fr-btn fr-btn--sm button-contact" *ngIf="!liked" (click)="like()">Suivre</button>
    <button class=" fr-btn fr-btn--sm button-contact button-no-contact" *ngIf="liked" (click)="like()">Ne plus suivre</button>
  </div>
</div>
<div class="button-actions" *ngIf="profil && currentUser && profil.id == currentUser.id">
  <div class="flex1">
    <button class="fr-btn" routerLink="/utilisateur/modifier-mon-compte" >Configurer mon
      profil</button>
  </div>
  <div class="mode">
    Mode {{profil.anonyme?'Anonyme':'Public'}}
    <ion-toggle mode="md" color="primary" [ngModel]="profil.anonyme" (ngModelChange)="changeMode()"></ion-toggle>
  </div>
</div>
