:host {
  display: block;
  padding: 10px;
}

.entete {
  display: flex;
  flex-direction: row;

  .name {
    flex: 1;

    .username {
      font-weight: bold;
    }

    .profil {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 0.8em;

      ion-progress-bar {
        width: 70px;
        margin-right: 20px;
      }
    }
  }

  ion-img {
    clip-path: circle();
    width: 100px;
  }
}

.button-actions {
  padding-top: 10px;
  display: flex;
  flex-direction: row;

  .mode {
    display: flex;
    align-items: center;
  }

  .followers {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;

    .button-no-contact {
      color: var(--text-inverted-grey);
      background-color: var(--background-action-high-warning-hover);
    }
  }
}

